/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 header .tenant {
  margin-top: 16px;
 }

 header .tenant span.label {
  text-transform: uppercase;
 }

 .li-popup {
  margin: 0 !important; 
  padding: 0 !important;
 }

.li-popup:before,
.li-popup:after {
  content: '';
  left: -20px;
  position: absolute;
  right: auto;
}
.li-popup:before {
  border-left: none !important;
  bottom: auto !important;
  height: auto !important;
  top: auto !important;
  width: auto !important;
}
.li-popup:after {
  border-top: none !important;
  height: auto !important;
  top: auto !important;
  width: auto !important;
}
.editinline span {
  border: none !important;
}