<div class="project-context hidden-xs dropdown">
  <span class="label">{{getWord('Space')}}: {{space}}</span>
  <span class="project-selector dropdown-toggle">{{getWord('Select Space')}}
    <i ng-if="spaces.length" class="fa fa-angle-down"></i>
  </span>
  <ul class="dropdown-menu" ng-if="spaces.length">
    <li>
      <a ng-click="select()">{{getWord('Public')}}</a>
    </li>
    <li class="divider"></li>
    <li ng-repeat="space in spaces">
      <a ng-click="select(space)">{{space.name}}</a>
    </li>
  </ul>
</div>