<div class="row execution">
<!--   <div class="col-sm-3 test-suite-pool">
  <p>1.{{getWord('CHOOSE TEST SUITE')}}</p>
  <section class="smart-form">
    <label class="input"> <i class="icon-append fa fa-search"></i>
      <input type="text" name="Search" ng-model="searchTerms" placeholder="{{getWord('Search Test Suite')}}">
    </label>
  </section>

  <div class="row" style="margin-top: 20px;" ng-repeat="suite in suites | search: searchTerms">
    <div class="col-sm-12" style="padding-right: 8px;">
      <span class="pull-left">{{suite.name}}</span>
      <div class="smart-form check-list">
        <label class="checkbox pull-right suiteId">
          <input type="checkbox" name="suite" ng-click="selectSuite(suite._id);">
          <i></i>
        </label>
      </div>
    </div>
  </div>
</div> -->
    <div class="col-sm-3 browser-pool choose-browser">
        <p>1.{{getWord('CHOOSE BROWSER')}}</p>
        <div class="row">
          <div class="col-sm-12 browser">
          <div class="col-sm-6">
            <div class="smart-form" >
              <label class="radio state-success">
                <input name="browser" type="radio" checked="">
                <i class="choose_browse"></i><img ng-src="/styles/img/firefox.jpg" width="60px;">
              </label>
            </div>
          </div>

          <div class="col-sm-6 select-version">
            <p>{{getWord('Select Version')}}</p>
            <div class="form-group">
              <select class="form-control">
                <option>v1.0</option>
              </select>
            </div>
          </div>
          </div>
        </div>

      </div>
     <div class="col-sm-3 os-pool">
        <p>2.{{getWord('SELECT OS')}}</p>
        <div class="row">
          <div class="col-sm-12">
          <div class="col-sm-6">
            <div class="smart-form">
              <label class="radio state-success">
                <input name="os" type="radio" checked="">
                <i class="choose_browse"></i>
                <img ng-src="/styles/img/ubuntu.png" width="60px;">
              </label>
            </div>
          </div>
          </div>
        </div>
      </div>
    <div class="col-sm-3 execution-area">
      <a class="btn btn-primary btn-keyword-run" ng-click="run()">{{getWord('Run Test')}}</a>
      </div>
  
</div>