<div>
	<h1> {{getWord('Functional Test')}}<small class="ds-collapse" data-toggle="collapse" data-target="#functional-project-overview"> {{getWord('Collapse all')}}</small></h1> 
	<div id="functional-project-overview" class="collapse in">
		<div class="functional-project-overview ds-box">
			<h1 class="text-center ds-text-blue"> {{getWord('Recent Finished Projects')}}</h1>
			<p class="ds-text-rotate ds-text-project">{{getWord('Number of classes/project')}}
				</p>
			<morris-stacked-bar-graph data-data="recent_finished_projects" data-lang="lang"></morris-stacked-bar-graph>
			<div class="ds-chart-label">
				<p > 
					<span class="ds-blue"></span>{{getWord('Pass')}} 
					<span class="ds-red"></span>{{getWord('Fail')}} 
					<span class="ds-yellow"></span>
					{{getWord('Skip')}} 
				</p> 
			</div>
		</div>
		<div class="col-sm-12  clearfix" >
	        <div class="row">
				<div class="col-sm-4 ds-reset-padding">
					<div class="ds-box ds-box-blue clearfix">
						<div class="col-sm-12 ds-box-header">
							<P class="project-name">{{getWord('Top passed Projects')}} </P>
						</div>
						<div class="col-sm-12 ds-box-table">
							<table class="col-sm-12">
								<tr class="project-name" ng-repeat="project in top_projects | orderBy:'-percentPass' |limitTo:5 track by $index">
									<td ng-click="redirectKeyword(project._id)"><a>{{project.name}}</a></td>
									<td class="pull-right">{{project.percentPass}}%</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			
				<div class="col-sm-4">
					<div class="ds-box ds-box-red clearfix">
						<div class="col-sm-12 ds-box-header">
							<P class="project-name">{{getWord('Top Failed projects')}} </P>
						</div>
						<div class="col-sm-12 ds-box-table">
							<table class="col-sm-12">
								<tr ng-repeat="project in top_projects | orderBy:'-percentFail' |limitTo:5 track by $index">
									<td ng-click="redirectKeyword(project._id)"><a>{{project.name}}</a></td>
									<td class="pull-right">{{project.percentFail}}%</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			
				<div class="col-sm-4 ds-reset-padding">
					<div class="ds-box clearfix ds-box-white">
						<div class="col-sm-12 ds-box-header">
							<P class="project-name">{{getWord('5 Biggest Projects')}} </P>
						</div>
						<div class="col-sm-12 ds-box-table">
							<table class="col-sm-12">
								<tr ng-repeat="project in top_projects| orderBy:'-totalCases'|limitTo:5 track by $index">
									<td ng-click="redirectKeyword(project._id)"><a>{{project.name}}</a></td>
									<td class="pull-right fix-size-biggest-project">{{project.totalCases}} {{getWord('test cases')}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h1 class="clearfix"> {{getWord('Performance Test')}}<small class="ds-collapse" data-toggle="collapse" data-target="#performance-project-overview"> {{getWord('Collapse all')}}</small></h1> 
	<div class="ds-box clearfix ds-box-white collapse in" id="performance-project-overview">
		<div class="col-sm-12 ds-box-header">
			<P class="project-name">{{getWord('Top Error Projects')}}</P>
		</div>
		<div class="col-sm-12 ds-box-table">
			<table class="col-sm-12">
				<tr>
					<td class="ds-left">{{getWord('No')}}.</td>
					<td class="ds-left">{{getWord('Project Name')}}</td>
					<td class="ds-right">{{getWord('Samplers')}}</td>
					<td class="ds-right">{{getWord('Users')}}</td>
					<td class="ds-right">{{getWord('Ram up')}}</td>
					<td class="ds-right">{{getWord('Loops')}}</td>
					<td class="ds-right">{{getWord('Duration')}}</td>
					<td class="ds-right">{{getWord('Error Rate')}} </td>
				</tr>
				<tr ng-repeat="project in performance_projects | orderBy:'-error_percent'|limitTo:10 track by $index">
					<td class="ds-left">{{$index+1}}</td>
					<td class="ds-left" ng-click="redirectPerformance(project._id)"><a>{{project.projectName}}</a></td>
					<td class="ds-right">{{project.samples}}</td>
					<td class="ds-right">{{project.users}}</td>
					<td class="ds-right">{{project.ram_up}}s</td>
					<td class="ds-right">{{project.loops}}</td>
					<td class="ds-right">{{project.duration}} second(s)</td>
					<td class="ds-right">{{project.error_percent}}%</td>
				</tr>
			</table>
		</div>
	</div>
</div>

