<div jarvis-widget id="live-feeds-widget" data-widget-togglebutton="false" data-widget-editbutton="false"
     data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
  
  <header>
    <ul class="nav nav-tabs pull-right in" id="myTab">
      <li  class="active">
        <a data-toggle="tab" href="#s1"><span class="hidden-mobile hidden-tablet">Terminal</span></a>
      </li>
      <li>
        <a data-toggle="tab" href="#s2"><span class="hidden-mobile hidden-tablet">Logs</span></a>
      </li>
    </ul>
  </header>

  <!-- widget div -->
  <div class="no-padding">
    <div class="widget-body">
      <!-- content -->
      <div id="myTabContent" class="tab-content">
        <!-- tab s1 -->
        <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
          
          Tab 1

        </div>
        <!-- end s1 -->

        <!-- s2 -->
        <div class="tab-pane fade" id="s2">
          Tab 2
        </div>
        <!-- end s2 -->

    </div>
  </div>
  <!-- end widget div -->

</div>