<div class="row execution">
    <div class="col-sm-3 browser-pool choose-browser">
        <p>1.{{getWord('CHOOSE BROWSER')}}</p>
        <div class="row">
          <div class="col-sm-12 browser">
          <div class="col-sm-6">
            <div class="smart-form" >
              <label class="radio state-success">
                <input name="browser" type="radio" checked="">
                <i class="choose_browse"></i><img ng-src="/styles/img/firefox.jpg" width="60px;">
              </label>
            </div>
          </div>

          <div class="col-sm-6 select-version">
            <p>{{getWord('Select Version')}}</p>
            <div class="form-group">
              <select class="form-control">
                <option>v1.0</option>
              </select>
            </div>
          </div>
          </div>
        </div>

      </div>
     <div class="col-sm-3 os-pool">
        <p>2.{{getWord('SELECT OS')}}</p>
        <div class="row">
          <div class="col-sm-12">
          <div class="col-sm-6">
            <div class="smart-form">
              <label class="radio state-success">
                <input name="os" type="radio" checked="">
                <i class="choose_browse"></i>
                <img ng-src="/styles/img/ubuntu.png" width="60px;">
              </label>
            </div>
          </div>
          </div>
        </div>
      </div>
    <div class="col-sm-3 execution-area">
      <a class="btn btn-primary btn-keyword-run disabled" ng-click="run()">{{getWord('Run Test')}}</a>
      </div>
  
</div>