<div layout="column" layout-padding>
	<form name="columnDataForm">
		<md-input-container>
	    <label>Data Driven Name: </label>
	    <input type="text" required name="data_name" ng-model="data_name">
	    <div ng-messages="columnDataForm.data_name.$error">
	    	<div ng-message="required">
	    		This is required
	    	</div>
	    </div>
	  </md-input-container>
	  <md-button ng-disabled="columnDataForm.$error.required" ng-click="doAddNewData()"><ng-md-icon icon="add_circle"></ng-md-icon> Add </md-button>
	</form>
</div>