<div class="data-container row">

  <div class="data-list-name">

    <section layout="column" flex >
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
        <md-toobar style="background-color: rgb(63,81,181); color: white;">
         <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Show/Close Filter" ng-click="filterIsShow=!filterIsShow">
               <md-tooltip >Show/Close Filter</md-tooltip>
               <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <h2>
              <span>Data Driven List</span>
            </h2>
            <span flex></span>
            <md-menu md-offset="0 -7">
              <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-tooltip md-autohide >Menu</md-tooltip>
                <ng-md-icon icon="menu"></ng-md-icon>
              </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="addColumn($event)">
                <ng-md-icon icon="add_circle"></ng-md-icon> Create New
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="addNewData($event)">
                  <ng-md-icon icon="file_upload"></ng-md-icon> Upload
                </md-button>
                <input type="file" accept=".csv" ng-model="newFile" onchange="angular.element(this).scope().addNewFile(this)" multiple="true" style="display: none;">
              </md-menu-item>
            </md-menu-content>
            </md-menu>
           <input type="file" accept=".csv" multiple="true" style="display: none;">
        </div>
    </md-toobar>

  </md-sidenav>
  <md-subheader class="md-primary" ng-show="filterIsShow">
    <div layout="row">
      <md-input-container flex style="margin: 0px;">
        <label>Filter by name</label>
        <input type="text" ng-model="searchTerms">
      </md-input-container>                        
      <md-button class="md-icon-button" ng-click="filterIsShow=!filterIsShow" aria-label="Hide Filter" style="margin-top: 8px;">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-subheader>

  </section>

    <div class="data-items" style="height: 500px; overflow-y: auto;">
    <div class="row data" 
      ng-repeat="data in datas | search: searchTerms track by $index" ng-class="{'data-selected':data._id == current._id , 'not-allow-click': editable}"
       ng-click="chooseData(data)"
      >
      <div class="col-sm-12">
        <span class="pull-left">
        {{data.name.length > 28 ? data.name.substring(0,25) + '...' : data.name}}
        </span>
        <div class="smart-form check-list" 
          ng-if="data._id == current._id" ng-click="deleteDataDriven(data, $index)">
          <span class="glyphicon glyphicon-remove-sign icon pull-right"></span>
        </div>
      </div>
    </div>
   </div>
  </div>

  <div class="data-provider" id="data-container" >
    <div class="col-sm-12 data-driven-table" >
     <div smart-include="app/datadriven/views/data-table.tpl.html"></div>
     <div ng-if="edit">
       <md-button class="btn pull-right" ng-click="updateDataDriven()">
        <ng-md-icon icon="add_circle"></ng-md-icon> Update
       </md-button>
       <md-button class="btn pull-right" ng-click="cancelEdit()">
        <ng-md-icon icon="cancel"></ng-md-icon> Cancel
       </md-button>
      </div>
  </div>

</div>