<div class="data-container row">
  <div class="col-sm-3 data-list-name">
    <section class="smart-form search-container">
      <label class="input"> <i class="icon-append fa fa-search"></i>
        <input type="text" name="Search" ng-model="searchTerms" placeholder="Search Test Case" id="Search" minlength="3">
      </label>
    </section>

    <div class="create-new-data">
      <a class="btn btn-primary btn-create-new-data" ng-click="clickNewDataDrivenButton($event)" >
        <i class="fa fa-plus-circle">New Data Driven</i>
      </a>
    </div>
    <div class="data-items" style="height: 500px; overflow-y: auto;">
    <div class="row data" 
      ng-repeat="data in datas | search: searchTerms track by $index" ng-class="{'data-selected':data._id == current._id , 'not-allow-click': editable}"
       ng-click="chooseData(data)"
      >
      <div class="col-sm-12">
        <span class="pull-left">
          {{data.name}}
        </span>
        <div class="smart-form check-list" 
          ng-if="data._id == current._id" ng-click="deleteDataDriven(data, $index)">
          <span class="glyphicon glyphicon-remove-sign icon pull-right"></span>
        </div>
      </div>
    </div>
   </div>
  </div>

  <div class="col-sm-9 data-provider" ng-hide="current == undefined && dataset==[] ">
    <div class="row">
      <div class="col-sm-5 form-group driven-name">
        <input class="form-control" ng-model="current.name" placeholder="Data driven name" ng-disabled="!editable">
      </div>
    </div>
    <provider-table data-dataset="dataset" data-editable="editable"></provider-table>

    <button ng-if="!editable && !create"  ng-click="editDataset()" class="btn btn-primary pull-right edit-button"><i class="fa fa-edit"></i> Edit</button>
    <button ng-if="editable && !create" class="btn btn-primary pull-right" ng-click="updateDataDriven()"><i class="fa fa-save"></i> Update</button>
    <button ng-if="editable" ng-click="cancelEdit()" class="btn btn-warning pull-right cancel-edit"><i class="fa fa-undo"></i> Cancel</button>
    <button ng-if="editable && create" ng-click="createDataDriven()" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Save</button>
  </div>

</div>