<div id="content">

  <section id="widget-grid" data-widget-grid>
    <div class="row">
      <article class="col-sm-12">

        <div id="fk-wizard-widget"

          data-widget-colorbutton="false"
          data-widget-editbutton="false"
          data-widget-togglebutton="false"
          data-widget-deletebutton="false"
          data-widget-fullscreenbutton="false"
          data-widget-custombutton="false"
          data-widget-sortable="false"
          data-jarvis-widget>

             <header class="header-navtabs">
                 <h2>Project Overview</h2>
            </header>
            
            <!-- Widget content -->
           
            <!-- End widget content -->


        </div>
           <div class="tab-content">
                <div smart-include="/app/fk/views/data-provider-list.tpl.html"></div>
            </div>
      </article>
    </div>
  </section>  

</div>