<div>
<div class="testcase-tab">
        <div class="border-div">
        <div class="row actionMenu">
        	<div class="col-md-3">
        	<section class="smart-form" >
	                <label class="input"> <i class="icon-append fa fa-search"></i>
	                  <input type="text" name="Search" ng-model="Search" placeholder="Search" id="Search" minlength="3" class="ng-pristine ng-untouched ng-valid ng-valid-minlength" ></label>
	        </section>
            </div>
			<div class="col-md-2"><label>346 Data Driven</label></div>
			<span class="col-md-4 pull-right btn-action-list">
				<a data-toggle="modal" data-target="#add-datadriven" class="btn btn-primary">New Data Driven</a>
			</span>
        </div>
        <!-- list test case -->
        <div class="custom-keyword-list">
        	<div class="col-md-2 custom-keyword-block" data-toggle="modal" data-target="#add-datadriven" add-icon >
        		<div class="id-test">
        			<span>#181</span>
        		</div>
        		<div class="content-testcase">
        			This is main content of data driven
        		</div>
        	</div>
        </div>
          <div class="modal fade" id="add-datadriven" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog dialog-datadriven">
                        <div class="modal-content add-datadriven">
                                <div class="modal-header header-data-driven">
                                        <span class="col-md-3"><i class="fa fa-table id-test"></i> Data Driven of Test Case 3</span>
                                        <span class="col-md-6 group-btn-datadriven"><a class="btn-add-newdata"><i class=" id-test fa fa-plus"></i>Add new Data</a></span>
                                        <span class="filter-datadriven col-md-3"><input class="form-control filter-keyword filter-data" type="text" placeholder="Quick Search"></span>
                                </div>
                                <div class="modal-body modal-body-datadriven">
                                        <div smart-include="app/fk/views/new-add-datadriven.tpl.html"></div>
                                </div>
                                <div class="modal-footer modal-footer-datadriven">
                                        <a class="btn btn-default" data-dismiss="modal">Close</a>
                                        <a class="btn btn-primary">Save</a>
                                </div>
                        </div>
                </div>
        </div>
	</div>
</div>
</div>