<div class="testcase-tab">
  <div class="border-div">
    <div class="row actionMenu">
      <div class="col-md-3">
          <section class="smart-form">
            <label class="input"> <i class="icon-append fa fa-search"></i>
              <input id="search-fld" type="text" name="param" placeholder="Search Test Case" class="ui-autocomplete-input" ng-model="searchTerms">                           </label>
	        </section>
      </div>
      <span class="col-md-3 count-testcase"><label>{{customs.length}} Keyword{{customs.length > 2 ? 's' : ''}}</label></span>

      <span class="col-md-6 pull-right btn-action-list">
        <a class="btn btn-default" ng-click="backToCaseList()">Back To Test Case List</a>
        
        <a class="btn btn-primary"
          data-toggle="modal" 
          data-target="#editKeyword" 
          ng-click="newCustomKeyword()">
          New Keyword</a>
      </span>

    </div>
  </div>

  <div class="list-testcase">

    <!-- Test case list -->
    <div class="col-md-3 col-sm-4 col-xs-6"data-target="#editKeyword" data-toggle="modal"
      ng-repeat="keyword in customs | search: searchTerms"  
      ng-click="clicktoCustom(keyword)">

      <div class="tc-itemBlock">
        <div class="row">
          <div class="tc-attributes col-md-12">
              <div class="tc-id"># {{keyword._id.substring(0,8)}}</div>
          </div>
          <div class="tc-name col-md-12">
             {{keyword.name}}
          </div>
        </div>
      </div>

    </div>
    <!-- End test case list -->
    
    <div class="modal fade" id="editKeyword">
    </div>

  </div>
</div>