<div class="modal-dialog dialog-datadriven">
  <div class="modal-content add-datadriven">
    <div class="modal-header header-data-driven">
      <div class="row">
      <span class="col-md-4 data-of-case"><i class="fa fa-table id-test"></i> {{getWord('Data Driven of')}} {{current.name}}</span>
      <span class="col-md-8 group-btn-datadriven">
        <a class="btn-border-line btn-add-newdata" ng-click="addNewRow()"><i class=" id-test fa fa-plus"></i> {{getWord('Add new Data')}}</a>
        <a class="btn-border-line btn-search-data" ng-click="chooseDataDriven()"><i class="fa fa-search"></i> {{getWord('Select from existing data')}}</a> 
      </span>
          </div>
    </div>

    <div class="modal-body modal-body-datadriven">
      <div class="content-datadriven">
          <div class="row">
            <div class="form-group">
                <label class="col-md-2">{{getWord('Data Driven Name')}}</label>
                <div class="col-md-4">
                    <input class="form-control input-text-dialog-datadriven" placeholder="{{getWord('Data Driven Name')}}"  name = "driven-name" type="text" ng-model="driven_name">
                 </div>
            </div>
          </div>
          <div class="row">
            <div class="table-list-datadriven">
              <table class="table table-datadriven">
              <thead>
                <tr>
                  <th ng-repeat="param in params">{{param}}</th>
                </tr>
              </thead>
              <tbody>
                <tr class="tr-table-datadriven" ng-repeat="data in dataset">
                  <td ng-repeat="param in params" class="td-table-datadriven-value">
                    <a href-void editable-text="data[param]">{{data[param] || getWord('empty') }}</a>
                  </td>
                </tr>
              </tbody>
              </table>
            </div>
           </div>
      </div>
    </div>

    <div class="modal-footer modal-footer-datadriven">
      <a class="btn btn-default pull-left" ng-click="resetData(dataset)">{{getWord('Reset')}}</a> 
      <a class="btn btn-primary" ng-click="createNewData()">{{getWord('Save')}}</a> 
      <a class="btn btn-default" data-dismiss="modal">{{getWord('Close')}}</a> 
    </div>
  </div>
</div>