<div class="row execution">
  <div class="col-sm-3 test-suite-pool">
    <p>1.{{getWord('CHOOSE TEST SUITE')}}</p>
    <section class="smart-form">
      <label class="input"> <i class="icon-append fa fa-search"></i>
        <input type="text" name="Search" ng-model="searchTerms" placeholder="{{getWord('Search Test Suite')}}">
      </label>
    </section>

    <div class="row" style="margin-top: 20px;" ng-repeat="suite in suites | search: searchTerms">
      <div class="col-sm-12" style="padding-right: 8px;" ng-if="suite.cases.length > 0">
        <span class="pull-left">{{suite.name.length > 28 ? suite.name.substring(0,25) + '...' : suite.name}}</span>
        <div class="smart-form check-list">
          <label class="checkbox pull-right suiteId">
            <input type="checkbox" name="suite" ng-click="selectSuite(suite._id);">
            <i></i>
          </label>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-3 browser-pool choose-browser">
        <p>2.{{getWord('CHOOSE BROWSER')}}</p>
        <div class="row">
          <div class="col-sm-12 browser">
          <div class="col-sm-6">
            <div class="smart-form" >
              <label class="radio state-success">
                <input name="browser" type="radio" ng-model="project.browser" value="firefox">
                <i class="choose_browse"></i><img ng-src="/styles/img/firefox.jpg" width="60px;">
              </label>
            </div>
          </div>

          <div class="col-sm-6 select-version">
            <p>{{getWord('Select Version')}}</p>
            <div class="form-group">
              <select class="form-control" ng-model="project.version">
                <option selected="selected">41.0.2</option>
                <option>38.3.0esr</option>
                <option>26.0</option>
                <option>17.0.9esr</option>
              </select>
            </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 browser">
          <div class="col-sm-6">
            <div class="smart-form" >
              <label class="radio state-success">
                <input name="browser" type="radio" ng-model="project.browser" value="chrome">
                <i class="choose_browse"></i><img ng-src="/styles/img/chrome.jpg" width="60px;">
              </label>
            </div>
          </div>

          <div class="col-sm-6 select-version">
            <p>{{getWord('Select Version')}}</p>
            <div class="form-group">
              <select class="form-control">
                <option selected="selected">46.0.2490.80</option>
              </select>
            </div>
          </div>
          </div>
        </div>

      </div>
     <div class="col-sm-3 os-pool">
        <p>3.{{getWord('SELECT OS')}}</p>
        <div class="row">
          <div class="col-sm-12">
          <div class="col-sm-6">
            <div class="smart-form">
              <label class="radio state-success">
                <input name="os" type="radio" checked="">
                <i class="choose_browse"></i>
                <img ng-src="/styles/img/ubuntu.png" width="60px;">
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <p>Ubuntu 14.04 64bit</p>
          </div>
          </div>
        </div>
      </div>
    <div class="col-sm-3 execution-area">
      <a class="btn btn-primary btn-keyword-run disabled" ng-click="run()">{{getWord('Run Test')}}</a>
      </div>
  
</div>