<div class="jarviswidget">
  <header class="header-navtabs">
    <h2>{{title}}</h2>

    <ul id="myTab" class="nav nav-tabs pull-right">
      <li class="active">
        <a href="#overview" data-toggle="tab" ng-click="changeTab('overview')"><span class="hidden-mobile hidden-tablet">OVERVIEWS</span></a>
      </li>
      <li>
        <a href="#cases" data-toggle="tab" ng-click="changeTab('cases')"><span class="hidden-mobile hidden-tablet">TEST CASE</span></a>
      </li>
      <li>
        <a href="#driven" data-toggle="tab" ng-click="changeTab('driven')"><span class="hidden-mobile hidden-tablet">DATA DRIVEN</span></a>
      </li>
      <li>
        <a href="#suites" data-toggle="tab" ng-click="changeTab('suites')"><span class="hidden-mobile hidden-tablet">TEST SUITE</span></a>
      </li>
      <li>
        <a href="#execution" data-toggle="tab" ng-click="changeTab('execution')"><span class="hidden-mobile hidden-tablet">EXECUTION</span></a>
      </li>
    </ul>
 </header>
</div>