<div class="project-detail-tab">
  <div class="border-div ">

    <div class="actionMenu row btn-action-list">
      <span class="col-sm-6 pull-right"> 
        <a class="btn btn-primary" ng-click="edit()">{{getWord('Edit')}}</a>
        <a data-ui-sref="app.projects" class="btn btn-default">{{getWord('Close')}}</a>
      </span>
    </div>
    <div class="row project-detail-header">
      <div class="col-sm-12">
        <span class="proj-id">#{{project._id.substring(0,8)}} </span>
        <span data-icon="&#xe05b;" aria-hidden="true" class="proj-type"></span>
        <span class="text-capitalize">{{getWord(project.type)}} {{getWord('test')}} </span> 
        <span ng-class="{
          'label label-running': project.status === 'RUNNING',
          'label label-success': project.status === 'READY'
        }"  disabled="disabled">{{getWord(project.status)}}</span>
      </div>
    </div>

    <div class="row proj-name">
      <article class="col-sm-12"> 
        {{project.name}}
      </article>
    </div>

    <div class="row ">
      <div class="col-md-6 project-properties">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='blur-name'>{{getWord('Test Suites')}}</div>
                    <div class='statistic-number'>{{project.totalSuites}}</div>
                </div>
                <div class='col-sm-3'>
                    <div class='blur-name'>{{getWord('Test Cases')}}</div>
                    <div class='statistic-number'>{{project.totalCases}}</div>
                </div>
                <div class='col-sm-6'>
                    <div class='blur-name'>{{getWord('Last Running')}}</div>
                    <div class='statistic-number'>{{project.lastRunning === undefine ? 'N/A' : project.lastRunning}}</div>
                </div>
           </div>
      </div>
      <div class="col-md-6">
        <div class="execute-action-list">
        <a ng-if="project.log" ng-click="viewLog()"
          class="btn-border-line btnViewLog">{{getWord('View Log')}}</a>
        <a ng-if="project.watchUrl && project.status === 'RUNNING'" 
          class="btn-border-line btnViewLog" target="blank" href="{{project.watchUrl}}">
          Watch
        </a>
        <a ng-if="project.lastSuites && project.status === 'READY'" ng-click="runLastSuites()" class="btn-border-line btnRun">{{getWord('Run')}}</a>
        <a ng-if="project.status === 'RUNNING' && project.log" class="btn-border-line btn-danger btnViewLog" ng-click="stopProject(project._id)">{{getWord('Stop')}}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Report -->
     <div class="row table-container">
          <div class="col-md-12">
            <h3>{{getWord('Test Report')}}</h3>
      <table class="table tbl-project-report">
        <thead>
          <tr>
          <th>#</th>
          <th>{{getWord('Report Tile')}}</th>
          <th>{{getWord('Total Case')}}</th>
          <th>{{getWord('Case Pass')}}</th>
          <th>{{getWord('Case Fail')}}</th>
          <th>{{getWord('Project Result')}}</th>
          <th>{{getWord('Created Date')}}</th>
          <th>{{getWord('Create By')}}</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rep in listReports track by $index">
            <td>{{$index+1}}</td>
            <td class="test-report"><a ng-click="redirectTo(rep.job_id)">Report-{{rep.job_id}}</a></td>
            <td>{{rep.total_test_case}}</td>
            <td>{{rep.total_pass}}</td>
            <td>{{rep.total_fail}}</td>
            <td><span ng-class="{'label label-error': rep.test_result === 'Fail',
            'label label-success': rep.test_result === 'Pass'}">{{getWord(rep.test_result)}}</span></td>
            <td>{{rep.created_date}}</td>
            <td>{{project.creator._id}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <!-- End Report -->

    <div class="modal fade" id="project-log">
    </div>
    <div class="modal fade" id="project-edittion">
    </div>
</div>