<div id="content">
		<div class="report-page">
            <div class="border-div row">
			<div class="col-sm-12 clearfix">
                <div class="row">
                    <div class="col-sm-6 ">
                        <section class="col-sm-6 smart-form ">
                            <label class="input"> 
                                <i class="icon-append fa fa-search"></i>
                                <input type="text" name="Search" ng-model="Search" placeholder="Search" id="Search" minlength="3">
                            </label>
                        </section>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <select class="form-control">
                              <option selected="">Choose a test case group</option>
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <p class="functional-title col-sm-6 export-bar">
                            Export to:
                            <i class="fa fa-file-word-o"></i>
                            <span>word</span>
                            <i class="fa fa-file-excel-o"></i>
                            <span>Excel</span>
                            <i class="fa fa-file-pdf-o"></i>
                            <span>pdf</span>
                        </p>

                        <button type="submit" class="btn btn-default pull-right" ng-click="redirectTo();" >Back to project detail</button>
                    </div>
                </div>
			</div>
        
			<div class="col-sm-12 clearfix">
				<div class="functional-report"></div>
				<!-- <morris-stacked-bar-graph></morris-stacked-bar-graph> -->
				<div class="chart-legend">
						<div><div class="block-teal-color"></div> Pass</div>
						<div><div class="block-red-color"></div> Fail</div>
						<div><div class="block-orange-color"></div> Skip</div> 
				</div>
			</div>
           </div>
            
			<div class="row table-container">
				<div class="col-sm-12">
                    <h3>Test Report</h3>
					<table class="table tbl-project-report">
						<thead >
                            <tr>
							<th >Running </th>
							<th >Test Suite</th>
							<th class="text-right">Test Case</th>
							<th class="text-right">Pass</th>
							<th class="text-right">Fail</th>
							<th class="text-right">Skip</th>
							<th class="text-center">Test Result</th>
                                </tr>
						</thead>
						<tr ng-repeat="suiteData in suiteReports">
							<td >{{suiteData.running_time}}</td>
							<td >{{suiteData.name}}</td>
							<td class="text-right">{{suiteData.total_test_case}}</td>
							<td class="text-right">{{suiteData.total_pass}}</td>
							<td class="text-right">{{suiteData.total_fail}}</td>
							<td class="text-right">{{suiteData.total_skip}}</td>
							<td class="text-center"><span  ng-class="{'label label-error': suiteData.test_result === 'Fail',
            'label label-success': suiteData.test_result === 'Pass'}">{{suiteData.test_result}}</span></td>
						</tr>
					</table>
				</div>
                </div>
			</div>
		</div>
</div>
