<div class="row">
  <div class="col-sm-3 list-test-suite">
    <section class="smart-form">
      <label class="input"> <i class="icon-append fa fa-search"></i>
        <input type="text" name="Search" ng-model="Search" placeholder="Search Test Suite" id="Search" minlength="3" class="ng-pristine ng-valid ng-valid-minlength ng-touched">
      </label>
    </section>

    <div class="create-new-suite">
      <a class="btn btn-primary col-sm-12 cleafix"
        ng-click="clickNewTestSuiteButton()" >
        <i class="fa fa-plus-circle">New Test Suite</i>
      </a>
      <div class="form-group input-suite-name" ng-if="current.temp">
        <input id="input-new-testsuite-name" type="text" class="form-control" placeholder="Enter Your Test Suite Name"
          ng-model="current.name" 
          ng-blur="inputNewSuiteNameBlur($event)"
          ng-keypress="inputNewSuiteNameKeypress($event)">
      </div>
    </div>

    <div class="row test-suite" 
      ng-repeat="suite in suites track by $index"
      ng-class="{'test-suite-selected':suite._id == current._id}"
      ng-click="selectSuite(suite)">

      <div class="col-sm-12">
        <span class="pull-left">
          <i class="fa" 
          ng-class="{
            'fa-circle has-case':suite.cases.length > 0,
            'fa-circle-o hasnot-case':suite.cases.length < 1
          }">
          </i> {{suite.name}}
        </span>
        <div class="smart-form check-list" ng-if="suite._id == current._id" ng-click="removeSuite(suite)">
          <span class="glyphicon glyphicon-remove-sign icon pull-right"></span>
        </div>
      </div>
    </div>

  </div>

  <div id="testcase-container" class="col-sm-9 action-testcase">
    
  </div>

</div>