<div class="test-suite-container row">
  <div class="list-test-suite">
    <section class="smart-form search-container">
      <label class="input"> <i class="icon-append fa fa-search"></i>
        <input type="text" name="Search" ng-model="searchTerms" placeholder="{{getWord('Search Test Suite')}}" id="Search" minlength="3">
      </label>
    </section>

    <div class="create-new-suite">
      <a class="btn btn-primary btn-create-new" ng-click="clickNewTestSuiteButton()" >
        <i class="fa fa-plus-circle">{{getWord('New Test Suite')}}</i>
      </a>
      <div class="form-group input-suite-name" ng-if="current.temp">
        <input id="input-new-testsuite-name" type="text" class="form-control" placeholder="{{getWord('Enter Your Test Suite Name')}}"
          ng-model="current.name" 
          ng-blur="inputNewSuiteNameBlur($event)"
          ng-keypress="inputNewSuiteNameKeypress($event)">
      </div>
    </div>
    <div class="test-suite-items">
    <div class="row test-suite" 
      ng-repeat="suite in suites | search: searchTerms"
      ng-class="{'test-suite-selected':suite._id == current._id}"
      ng-click="selectSuite(suite)">

      <div class="col-sm-12">
        <span class="pull-left">
          <i class="fa" 
          ng-class="{
            'fa-circle has-case':suite.cases.length > 0,
            'fa-circle-o hasnot-case':suite.cases.length < 1
          }">
          </i> {{suite.name}}
        </span>
        <div class="smart-form check-list" 
          ng-if="suite._id == current._id" ng-click="deleteTestSuite(suite)">
          <span class="glyphicon glyphicon-remove-sign icon pull-right"></span>
        </div>
      </div>
    </div>
   </div>
  </div>

  <div id="testcase-container" class="action-testcase">
    
  </div>

</div>