<div class="modal fade" id="createScript" role="dialog" ng-controller="CreateScriptCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="tab">
				<ul class="nav nav-tabs samplers">
					<li class="col-sm-5" >
							<strong>TEST SCRIPTS </strong><span class="project-name"> #{{script._id.substring(0,8)}}</span>
					</li>
					<li class="active">
						<a data-toggle="tab" href="#basic" id="basicId" ng-click="basic()"><strong>BASIC INFO</strong></a>
					</li>
					<li >
						<a data-toggle="tab" href="#samplers" id="samplersId" ng-click="newSampler();"><strong>SAMPLER</strong></a>
					</li>
					<li>
						<a data-toggle="tab" href="#configuration" id="configurationId" ng-click="configuration()"><strong>CONFIGURATION</strong></a>
					</li>
				</ul>
			</div>
			<div class="modal-body tab-content samplers">
				<div class="tab-pane fade in active" id="basic">
					<div class="row">
						<div class="col-sm-9 information">
							<div>
								<span class="icon-equalizer basic-info" aria-hidden="true"></span>
								<h4 class="title-sampler">Basic Information</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-9 script-name">
							<div class="row">
								<div class="col-sm-4">
									<p class="pull-left">Test Script Name</p>
								</div>
								<div class="col-sm-8">
									<textarea  rows="4" class="text-area-script" ng-model="script.name"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-9">
							<div class="row">
								<div class="col-sm-4">
								</div>
								<div class="col-sm-8">
									<a class="btn btn-deleteScript">Delete</a>
									<a class="btn btn-uploadFile pull-right" ng-click="clickSaveScript()">Save</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade in" id="samplers">
					<div class="row">
						<div class="col-sm-7 sampler_names">
							<div class="row">
								<div class="col-sm-7">
									<div class="form-group">
										<input type="text" id="filter_sampler" class="form-control" placeholder="Filter by name or number" style="background-color: #ADC0C6;">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4" ng-repeat="i in samplers track by $index" ng-click="chooseSampler(i, $index)">
								<div class="sampler_name_selected" ng-if="selected.index == $index">
									<div class="row">
										<div class="col-sm-6 number">
											<span class ="project-name">#1</span>
										</div>
										<div class="col-sm-6 remove-icon" ng-if="selected.index == $index">
											<span class="pull-right icon">
												<i class="fa icon-delete fa-minus-circle"></i>
											</span>
										</div>
									</div>
									<div class="row">
										<span class="sampler-name"><small>{{i.name}}</small></span>
									</div>
								</div>
								<div class="sampler_name" ng-if="selected.index != $index">
									<div class="row">
										<div class="col-sm-6 number">
											<span class ="project-name">#1</span>
										</div>
									</div>
									<div class="row">
										<span class="sampler-name"><small>{{i.name}}</small></span>
									</div>
								</div>
								</div>
							</div>
						</div>
						<div class="col-sm-5 sampler_form">
							<div class="row sampler-title">
								<span data-js-prompt="&amp;#xe067;" data-icon="&#xe067;" aria-hidden="true" class="glyph-item mega" style="display:inline-block;"></span>
								<h4 style="padding-top: 10px;" class="title-sampler"><strong>New Sampler</strong></h4>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<strong>Sampler name</strong>
								</div>
								<div class="col-sm-8">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Enter Name" ng-model="selected.name">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<strong>Sampler method</strong>
								</div>
								<div class="col-sm-8">
									<div class="form-group">
										<select class="form-control" ng-model="selected.method">
						          <option value="get">GET</option>
						          <option value="post">POST</option>
						          <option value="put">PUT</option>
						          <option value="delete">DELETE</option>
						        </select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<strong>Sampler url</strong>
								</div>
								<div class="col-sm-8">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="e.g. http://www.abc.com" ng-model="selected.url">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<strong>Parameters</strong>
								</div>
								<div class="col-sm-8">
									<div class="row"  ng-repeat="i in selected.params">
										<div class="col-sm-4">
											<div class="form-group">
												<input type="text" class="form-control" ng-model="i.name">
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<input type="text" class="form-control" ng-model="i.value">
											</div>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-6">
													<i class="fa fa-minus-circle icon"></i>
												</div>
												<div class="col-sm-6">
													<i class="fa fa-plus-circle icon-add"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<strong>Assertion text</strong>
								</div>
								<div class="col-sm-8">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Enter" ng-model="selected.assertText">
									</div>
								</div>	
							</div>
							<div class="row">
								<div class="col-sm-4">
									<strong>Constant time(s)</strong>
								</div>
								<div class="col-sm-8">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="miliseconds" ng-model="selected.constantTime">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
								</div>
								<div class="col-sm-8">
									<a class="btn btn-uploadFile" ng-click="createSampler(selected)">Save</a>
									<a class="btn btn-reset pull-right" ng-click="resetSamplerForm()">Reset</a>
								</div>
							</div>
						</div>
							
					</div>
				</div>
				<div class="tab-pane fade in" id="configuration">
					<div class="row">
						<div class="col-sm-10 information">
							<span class="icon-equalizer configuration" aria-hidden="true"></span>
							<h4 class="title-sampler">Configuration</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10">
							<div class="row">
								<div class="col-sm-5"></div>
								<div class="col-sm-7">
									<span class="pull-left impress">1</span>
									<span class="pull-right impress">1000</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<p class="pull-left  impress">Concurrent Users
										<span class="badge bg-color-greenLight" id="usersSliderVal"> 200</span>
									</p>
								</div>
								<div class="col-sm-7">
									<input data-smart-uislider type="text" class="slider slider-success" id="users" 
		                data-slider-id="usersSlider"
		                data-slider-min="100"
		                data-slider-max="1000"
		                data-slider-selection = "before"
		                data-slider-tooltip="hide"
		                data-slider-handle="round" ng-model="configuration.users">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5"></div>
								<div class="col-sm-7">
									<span class="pull-left impress">5s</span>
									<span class="pull-right impress">100s</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<p class="pull-left impress">Ram up <span class="badge bg-color-greenLight" id="usersSliderVal"> 5</span></p>
								</div>
								<div class="col-sm-7">
									<input data-smart-uislider type="text" class="slider slider-success" id="ramup"   
	                   data-slider-id="ramupSlider"
	                   data-slider-min="5"
	                   data-slider-max="100"
	                   data-slider-selection = "before"
	                   data-slider-tooltip="hide"
	                   data-slider-handle="round" ng-model="configuration.ramup">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5"></div>
								<div class="col-sm-7">
									<span class="pull-left impress">1</span>
									<span class="pull-right impress">10</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<p class="pull-left impress">Loops <span class="badge bg-color-greenLight" id="usersSliderVal"> 4</span></p>
								</div>
								<div class="col-sm-7">
									<input data-smart-uislider type="text" class="slider slider-success" id="loops" 
	                 data-slider-min="1"
	                 data-slider-max="10"
	                 data-slider-selection = "before"
	                 data-slider-tooltip="hide"
	                 data-slider-handle="round" ng-model="configuration.loops">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5"></div>
								<div class="col-sm-7">
									<span class="pull-left impress">0</span>
									<span class="pull-right impress">10</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<p class="pull-left impress">Duration <span class="badge bg-color-greenLight" id="usersSliderVal"> 9</span></p>
								</div>
								<div class="col-sm-7">
									<input data-smart-uislider type="text" class="slider slider-success" id="duration" 
	                   data-slider-min="0"
	                   data-slider-max="10"
	                   data-slider-selection = "before"
	                   data-slider-tooltip="hide"
	                   data-slider-handle="round" ng-model="configuration.duration">
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="modal-footer-customize">
					<div class="row">
						<button type="button" class="btn btn-close pull-right" data-dismiss="modal">Close</button>
					</div>
				</div>
		</div>
	</div>
</div>