<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <ng-md-icon icon="search"></ng-md-icon>
    <form name="filter.form" flex="" flex>
      <input type="text" placeholder="search" ng-model-options="filter.options" ng-model="query.filter" aria-invalid="false">
    </form>
    <md-button class="md-icon-button" aria-label="More" ng-if="selected.length" ng-click="deleteCsvData()">
      <ng-md-icon icon="delete" style="fill:#FE5151"></ng-md-icon>
    </md-button>
    <md-menu md-offset="0 -7">
      <md-button aria-label="Open Actions" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <ng-md-icon icon="menu">
          
        </ng-md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="addRow($event)">
            <ng-md-icon icon="add_circle"></ng-md-icon> Add Row
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="addColumn($event)">
            <ng-md-icon icon="add_circle"></ng-md-icon> Add Column
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="removeColumn($event)">
            <ng-md-icon icon="remove_circle_outline"></ng-md-icon> Remove Column
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<md-table-container>
  <table md-table md-row-select ng-model="selected" md-progress="promise">
    <thead md-head>
      <tr md-row>
        <th md-column ng-repeat="param in params track by $index"><span>{{param}}</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="i" md-select-id="{{i.$index}}" ng-repeat="i in dataSelected track by $index">
        <td md-cell ng-repeat="(key, val) in i">
          <md-input-container style="margin: 0px;height: 42px;" class="data-table">
            <input value="{{val}}" aria-label="{{val}}" ng-model="i[key]"/>
          </md-input-container>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{data.length}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>

