<div class="performancetest-tab">
  <div class="border-div row">

    <div class="actionMenu row btn-action-list">
      <span class="col-sm-6 pull-right"> <a class="btn btn-primary">Edit</a>
      <a data-ui-sref="app.projects" class="btn btn-default">Close</a>
    </div>

    <div class="row project-detail-header">
      <div class="col-sm-12">
        <span class="id-test">#{{project._id.substring(0,8)}} <span data-icon="&#xe05b;" aria-hidden="true" class="glyph-item mega"></span></span>
        <span style="padding-right:10px; text-transform: capitalize;">{{project.type}} Test</span> 
        <span class="buttonStatus" disabled="disabled">{{project.status}}</span>
      </div>
    </div>

    <div class="row project-detail-name">
      <article class="col-sm-12"> 
        {{project.name}}
      </article>
    </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table project-detail-statistic" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <td>Test Scripts</td>
            <td>LAST RUNNING</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="info-details"><span class="time">{{project.totalScripts}}</span></td>
            <td class="info-details"><span class="time">{{project.last_running}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="execute-action-list">
        <a class="btn btn-border-line btnViewLog">View Log</a>
        <a class="btn btn-border-line btnRun">Run</a>
      </div>
    </div>
  </div>
  </div>
  <!-- Mock Report -->
  <div class="row padding-top details-div">
    <div>
      <h3>Test Report</h3>
      <table class="table borderless-testreport performance">
        <thead>
          <tr>
          <th>#</th>
          <th>Report Tittle</th>
          <th>Test Script</th>
          <th>Test Result</th>
          <th>Created Date</th>
          <th>Create By</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in project.jobs track by $index">
            <td>{{$index+1}}</td>
            <td class="label-report" ng-click="openJobReport(i._id)">{{i._id}}</td>
            <td>{{i.scripts.length}}</td>
            <td><span class="buttonStatus">{{i.status}}</span></td>
            <td>{{i.created_date}}</td>
            <td>Cloud-ATS</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <!-- End report -->
</div>