<div class="performancetest-tab">
  <div class="border-div row">

    <div class="actionMenu row btn-action-list">
      <span class="col-sm-6 pull-right"> 
          <a class="btn btn-primary">Edit</a>
          <a data-ui-sref="app.projects" class="btn btn-default">Close</a>
      </span>
    </div>

    <div class="row project-detail-header">
      <div class="col-sm-12">
        <span class="proj-id">#{{project._id.substring(0,8)}} <span data-icon="&#xe05b;" aria-hidden="true" class="proj-type"></span></span>
        <span class="text-capitalize">{{project.type}} Test</span> 
        <span ng-class="{
          'label label-running': project.status === 'RUNNING',
          'label label-success': project.status === 'READY'
        }"  disabled="disabled">{{project.status}}</span>
      </div>
    </div>

    <div class="row proj-name">
      <article class="col-sm-12"> 
        {{project.name}}
      </article>
    </div>
    <div class="row ">
      <div class="col-md-6 project-properties">
            <div class='row'>
                <div class='col-sm-6'>
                    <div class='blur-name'>Test Scripts</div>
                    <div class='statistic-number'>{{project.totalScripts}}</div>
                </div>
                <div class='col-sm-6'>
                    <div class='blur-name'>Last Running</div>
                    <div class='statistic-number'>{{project.last_running === undefine ? 'N/A' : project.last_running}}</div>
                </div>
           </div>
      </div>
      <div class="col-md-6">
            <div class="execute-action-list">
            <a class="btn-border-line btnViewLog" ng-click="viewLog()">View Log</a>
            <a class="btn-border-line btnRun" ng-click="runLastScripts()" ng-if="project.status != 'RUNNING'">Run</a>
            <a class="btn-border-line btnRun" ng-if="project.status === 'RUNNING'">Stop</a>
            </div>
       </div>
    </div>
  </div>
  <!-- Mock Report -->
  <div class="row table-container">
    <div class="col-md-12">
      <h3>Test Report</h3>
      <table class="table tbl-project-report">
        <thead>
          <tr>
          <th>#</th>
          <th>Report Tittle</th>
          <th>Test Script</th>
          <th>Test Result</th>
          <th>Created Date</th>
          <th>Create By</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in project.jobs track by $index">
            <td>{{$index+1}}</td>
            <td><a ng-class="{
                'report-enable': i.status === 'Completed',
                'report-disable': i.status != 'Completed'
              }" href-void  ng-click="openJobReport(i._id)">{{i._id}}</a></td>
            <td>{{i.scripts.length}}</td>
            <td><span class="label label-success">{{i.status}}</span></td>
            <td>{{i.created_date}}</td>
            <td>Cloud-ATS</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <!-- End report -->

  <!-- Project Log -->

  <div class="modal fade" id="project-log">
  </div>
</div>
