<div class="report-page">
	<div class="col-sm-12 clearfix t-control-bar">
		<div class="col-sm-5 ">
		</div>
		<div class="col-sm-7 ">
			<p class="functional-title col-sm-6 t-export-bar">
				Export to:
				<i class="fa fa-file-word-o"></i>
				<span>word</span>
				<i class="fa fa-file-excel-o"></i>
				<span>Excel</span>
				<i class="fa fa-file-pdf-o"></i>
				<span>pdf</span>
			</p>
			
			<button type="submit" class="btn new-project pull-right" ng-click="backToOverviewReport();" style="color: white;">Back to report page</button>
		</div>
	</div>

	<div class="col-sm-12 clearfix" id="sampler-chart">
		<div class="col-sm-12">
			<span class="">Number of hits / second</span>
			<div class="chart no-padding sampler-report-hits">
			</div>
		</div>
		<div class="col-sm-12">
			<span class="">Number of transactions / second </span>
			<div class="chart no-padding sampler-report-trans">
			</div>
		</div>
	</div>
	<div class="clearfix t-table ">
		<div class="col-sm-12">
		</div>
	</div>
</div>


