<div class="row" style="margin: 5px;">
	<div class="col-md-12" ng-if="list">
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-4">
				<input type="text" placeholder="Filter" class="form-control" ng-model="query">
			</div>

			<div class="col-md-8">
				<button class="btn btn-success pull-right" href-void ng-click="createNewPerformanceTest()">
	        <i class="fa fa-plus"></i>
	        <span class="hidden-mobile">Create new performance test</span>
	      </button>
			</div>
		</div>
    <div class="row">
      <div class="col-md-12">
        <div class="well" id="widget-title-widget" data-jarvis-widget>
          <div>
                <!-- widget content -->
            <div class="widget-body no-padding" data-sparkline-container>
                		
              <table class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th></th>
                    <th>Test Name</th>
                    <th><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Group
                    </th>
                    <th>Creator</th>
                    <th>Last Updated</th>
                    <th>Last Run
                    </th>
                    <th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>
                        Status
                    </th>
                    <th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>
                        Report
                    </th>
                    <th>Actions</th>
                	</tr>
                 </thead>
	                <tbody ng-repeat="project in projects | filter:query">
	                	<tr>
	                		<td ng-click="showScripts($event)" style="cursor: pointer; text-align: center">
	                			<i class="fa fa-plus"></i>
	                		</td>
	                		<td>
	                			<span class="label label-primary">{{project.name}}</span>
	                		</td>
	                		<td>
	                			<span class="label label-info">{{project.group}}</span>
	                		</td>
	                		<td>
	                			<span class="label label-info">{{project.creator}}</span>
	                		</td>
	                		<td>
	                			<strong>{{project.last_updated}}</strong>
	                		</td>
	                		<td>
	                			<strong>{{project.last_run}}</strong>
	                		</td>
	                		<td>
	                			<span class='label label-success'>{{project.status}}</span>
	                		</td>
	                		<td>
	                			<a class="btn ui-btn-xs btn-info" title="View Report *" rel="tooltip" ><i class="fa fa-bar-chart-o"></i></a>
	                		</td>
	                		<td>
	                			<button class='btn btn-xs btn-default ng-scope' tooltip='Run Project' tooltip-append-to-body='true' ng-click='runProject(project._id)'><i class='fa fa-play'></i></button>
	                			<button class='btn btn-xs btn-default ng-scope' tooltip='Edit Project' tooltip-append-to-body='true' ng-click='updateProject(project._id)'><i class='fa fa-pencil'></i></button>
	                			<button class='btn btn-xs btn-default ng-scope' tooltip='Stop Project' tooltip-append-to-body='true' ng-click='stopProject(project._id)'><i class='fa fa-stop'></i></button>
	                			<button class='btn btn-xs btn-default ng-scope' tooltip='Delete' tooltip-append-to-body='true' ng-click='deleteProject(project._id)'><i class='fa fa-times'></i></button>
	                		</td>
	                	</tr>
	                	<tr>
	                		<td colspan="9" style="padding: 0px; border: none;">
	                			<div class="scripts" style="display: none;">
	                				<table class="table tabs-below">
	                					<tr>
	                						<th>Scripts</th>
	                						<th>Users</th>
	                						<th>Ramp up</th>
	                						<th>Loops</th>
	                						<th>Duration</th>
	                						<th>Last Build</th>
	                						<th>Report</th>
	                						<th>Action</th>
	                					</tr>
	                					<tr  ng-repeat="script in project.scripts">
	                						<td><span class="badge bg-color-blue">{{script.name}}</span></td>
	                						<td><span class="badge bg-color-greenLight">{{script.users}}</span></td>
	                						<td><span class="badge bg-color-greenLight">{{script.ramup}}</span></td>
	                						<td><span class="badge bg-color-greenLight">{{script.loops}}</span></td>
	                						<td><span class="badge bg-color-greenLight">{{script.duration}}</span></td>
	                						<td><strong>{{script.last_build}}</strong></td>
	                						<td><a class="btn ui-btn-xs btn-info" title="View Report *" rel="tooltip" ><i class="fa fa-bar-chart-o"></i></a></td>

	                						<td>
	                							<button class='btn btn-xs btn-default ng-scope' tooltip='Run Script' tooltip-append-to-body='true' ng-click='runScript(script._id)'><i class='fa fa-play'></i></button>
	                							<button class='btn btn-xs btn-default ng-scope' tooltip='Edit Script' tooltip-append-to-body='true' ng-click='updateScript(script._id)'><i class='fa fa-pencil'></i></button>
	                							<button class='btn btn-xs btn-default ng-scope' tooltip='Stop Script' tooltip-append-to-body='true' ng-click='stopScript(script._id)'><i class='fa fa-stop'></i></button>
	                							<button class='btn btn-xs btn-default ng-scope' tooltip='Delete' tooltip-append-to-body='true' ng-click='deleteScript(script._id)'><i class='fa fa-times'></i></button>
	                						</td>
	                					</tr>
	                				</table>
	                			</div>
	                		</td>
	                	</tr>
	                </tbody>
                </table>
                    
              </div>
              <div class="pageList" style="text-align: center">
                <pagination total-items="totalProjects" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
              </div>
            </div>
        </div>
    	</div>
		</div>
	</div>
	<div class="col-md-12" ng-if="!list">
		<div ng-if='!wizard'>
			<form data-smart-validate-form>
		  	<div class="col-sm-12" data-smart-wizard 
		    data-smart-wizard-callback="uploadTestPerformanceCompleteCallback"
		    data-smart-step-callback="wizard2TestPerformanceStepCallback">
			    <div class="form-bootstrapWizard clearfix">
			      <ul class="bootstrapWizard">
			        <li data-smart-wizard-tab="1">
			          <a href="#">
			            <span class="step">1</span> <span class="title">Tools</span>
			          </a>
			        </li>
			        <li data-smart-wizard-tab="2">
			          <a href="#">
			            <span class="step">2</span> <span class="title">Scripts</span>
			          </a>
			        </li>

			      </ul>
			      <div>
			          <a class="btn btn-warning pull-right" ng-click="ExitToListPage()">Exit</a>
			      </div>
			    </div>
			    <div class="tab-content">

			      <div class="tab-pane" data-smart-wizard-pane="1">
			        <br>
			        <h3><strong>Step 1</strong> - Choose tool</h3>

			         <div class="row">
			            <div class="col-sm-6">
			              <div class="smart-form">
			                <label class="radio state-success">
			                	<input type="radio" name="tool" checked=""><i></i><img ng-src="/styles/img/jmeter.jpg" width="200px;" height="80px;">
			                </label>
			              </div>
			              <div class="smart-form" style="margin-top: 20px;">
			                <label class="radio state-success">
			                	<input name="tool" type="radio"><i></i><img ng-src="/styles/img/loadui.png" width="200px;" height="80px;">
			                </label>
			              </div>
			              <div class="smart-form" style="margin-top: 20px;">
			                <label class="radio state-success">
			                	<input name="tool" type="radio"><i></i><img ng-src="/styles/img/LoadRunner.png" width="200px;" height="80px;">
			                </label>
			              </div>
			          </div>
			        </div>
			      </div>

			      <div class="tab-pane" data-smart-wizard-pane="2">
			        <br>
			        <h3><strong>Step 2</strong> - <span> Upload Scripts</span></h3>
			        <div class="row">
			         
			         <div class="col-sm-6">
			           <div class="form-group">
			            <div class="input-group">
			              <span class="input-group-addon" style="min-width:150px;text-align:left;">Project Name</span>
			              <input class="form-control input-sm" type="text" name="project_name" ng-model="project_name"
			                data-smart-validate-input data-required data-message-required="Project name is not empty">
			            </div>
			           </div>
			         </div>    
			        </div>   
			        <div class="row">
			          <div class="col-sm-6">
			           <div class="form-group">
			            <div class="input-group">
			              <span class="input-group-addon" style="min-width:150px;text-align:left;">File upload (.jmx)</span>
			              <input class="form-control input-sm" type="file" name="upload_file" ng-model="upload_file" onchange="angular.element(this).scope().uploadFile(this)"
			                data-smart-validate-input data-required data-message-required="File upload is not empty" accept=".jmx" multiple>
			            </div>
			           </div>
			         </div>    
			          <div class="col-sm-6">
			              <span class="badge">Or</span>
			              <span class="glyphicon glyphicon-hand-right" style="margin-right: 10px;"></span>
			            <a class="btn btn-default" href-void ng-click="createNewPerformanceTestWizard()">Use Wizard</a>
			              
			          </div>
			        </div>     
			      </div>
			      <div class="form-actions">
			        <div class="row">
			          <div class="col-sm-12">
			            <ul class="pager wizard no-margin">
			              <li class="previous" data-smart-wizard-prev>
			                <a href="#" class="btn btn-lg btn-default">&lt; Previous </a>
			              </li>
			              <li class="next" data-smart-wizard-next>
			                <a ng-if="!finish" href="#" class="btn btn-lg txt-color-darken"> Next &gt;</a>
			                <a ng-if="finish" href="#" class="btn btn-lg btn-success txt-color-darken"> Finish &gt;</a>
			              </li>
			            </ul>
			          </div>
			        </div>
			      </div>

			    </div>
		  	</div>
			</form>
		</div>
		<div ng-if='wizard'>
			<new-performance-test-wizard></new-performance-test-wizard>
		</div>
	</div>
</div>
