<div id="content">
  <div class="row">
  <article class="col-sm-12 col-md-12 col-lg-12">
    
    <div class="jarviswidget">
    <header class="header-navtabs">
      <ul id="myTab" class="nav nav-tabs pull-right">
        <li class="active">
          <a data-toggle="tab" href="#basic" id="basicId"><span class="hidden-mobile">{{getWord('INFORMATION')}}</span></a>
        </li>
        <li>
          <a data-toggle="tab" href="#csv-data">
            <span class="hidden-mobile">{{getWord('CSV DATA')}}</span>
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#script-content" id="samplersId"><span class="hidden-mobile">{{getWord('SCRIPT CONTENT')}}</span></a>
        </li>
      </ul>
    </header>
    </div>

    <div class="no-padding">
      <div class="widget-body">

        <div id="myTabContent" class="tab-content"><!-- START Tab content -->

          <!-- START Basic Information & Configuration -->
          <div class="tab-pane fade in active" id="basic">
            <div class="basic-info row">
              <div class="col-md-offset-1 col-md-8">
                <div class="form-basic-info">
                  <div class="form-content">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-3">{{getWord('Test Script Name')}}</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" ng-model="script.name" name="text-area-script">
                        </div>
                      </div>
                        
                      <configuration-script></configuration-script>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END Basic Information & Configuration -->

          <!-- START CSV Data -->
          <div class="tab-pane fade in" id="csv-data">

            <section layout="row" flex>
              <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
                <md-toolbar>
                  <div class="md-toolbar-tools">
                    <md-button aria-label="Upload" class="md-raised">Upload</md-button>
                  </div>
                </md-toolbar>
                <md-content style="height: 350px;">
                  <section>
                    <md-subheader class="md-primary">Unread Messages</md-subheader>
                    <md-list layout-padding>
                      <md-list-item ng-repeat="file in files">
                        <p>{{file.name}}</p>
                        <md-button class="md-icon-button md-secondary">
                          <ng-md-icon icon="delete" style="fill:#FE5151"></ng-md-icon>
                        </md-button>
                      </md-list-item>
                    </md-list>  
                  </section>
                  <!-- <md-subheader class="md-primary header-filter">
                    <md-input-container style="width: 100%">
                      <input type="text" placeholder="Filter by name">
                    </md-input-container>
                  </md-subheader> -->
                  
                </md-content>
              </md-sidenav>
              <md-content flex layout-padding>
                <div layout="column" layout-fill layout-align="top center" ng-if="false">
                  <p>
                  The left sidenav will 'lock open' on a medium (>=960px wide) device.
                  </p>
                  <p>
                  The right sidenav will focus on a specific child element.
                  </p>
                  <div>
                    <md-button ng-click="toggleLeft()"
                      class="md-primary" hide-gt-md>
                      Toggle left
                    </md-button>
                  </div>
                  <div>
                    <md-button ng-click="toggleRight()"
                      ng-hide="isOpenRight()"
                      class="md-primary">
                      Toggle right
                    </md-button>
                  </div>
                </div>
                <div layout="column" layout-fill layout-align="top center">
                 
                  <md-toolbar class="md-table-toolbar md-default" aria-hidden="false" style="">
                  <div class="md-toolbar-tools">
                    <md-input-container md-no-float class="md-block" flex>
                        <ng-md-icon icon="search" style="fill:blue"></ng-md-icon>
                      <input type="text" placeholder="Filter">
                    </md-input-container>
                    <md-button class="md-icon-button" aria-label="More" ng-if="selected.length">
                      <ng-md-icon icon="delete" style="fill:#FE5151"></ng-md-icon>
                    </md-button>
                    <md-menu md-offset="0 -7">
                      <md-button aria-label="Open Actions" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu">
                          
                        </ng-md-icon>
                      </md-button>
                      <md-menu-content>
                        <md-menu-item>
                          <md-button ng-click="addRow($event)">
                            <ng-md-icon icon="add_circle"></ng-md-icon> Add Row
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button>
                            <ng-md-icon icon="add_circle"></ng-md-icon> Add Clumn
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button>
                            <ng-md-icon icon="remove_circle_outline"></ng-md-icon> Remove Clumn
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </div>
                </md-toolbar>
                  <!-- exact table from live demo -->
                  <md-table-container>
                    <table md-table md-row-select ng-model="selected" md-progress="promise">
                      <thead md-head md-order="query.order" md-on-reorder="onReorder">
                        <tr md-row>
                          <th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th>
                          <th md-column md-numeric md-order-by="calories.value"><span>Calories</span></th>
                          <th md-column md-numeric>Fat (g)</th>
                        </tr>
                      </thead>
                      <tbody md-body>
                        <tr md-row md-select="i" md-select-id="{{i}}" md-auto-select ng-repeat="i in dataSelected track by $index">
                          <td md-cell>{{i.id}}</td>
                          <td md-cell>{{i.name}}</td>
                          <td md-cell>{{i.score}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </md-table-container>

                  <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{data.length}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
                </div>
                <div flex></div>
              </md-content>
              <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                <md-toolbar class="md-theme-light">
                  <h1 class="md-toolbar-tools">Sidenav Right</h1>
                </md-toolbar>
                <md-content layout-padding>
                  <form>
                    <md-input-container>
                      <label for="testInput">Test input</label>
                      <input type="text" id="testInput"
                             ng-model="data" md-autofocus>
                    </md-input-container>
                  </form>
                  <md-button ng-click="close()" class="md-primary">
                    Close Sidenav Right
                  </md-button>
                </md-content>
              </md-sidenav>
            </section>

            <div ng-if="false" layout="row" ng-repeat="progress in progressPercentage">
              <p>{{progress.fileName}}</p>
              <md-progress-linear md-mode="determinate" value="{{progress.percent}}"></md-progress-linear>  
            </div>
            <div ng-if="false" layout="row" layout-align="center center" class="drop-box" 
              ngf-drop ngf-select ng-model="files" ngf-drag-over-class="'dragover'" 
              ngf-multiple="true" ngf-allow-dir="true" accept=".csv,text/csv" ngf-pattern=".csv,text/csv">
              <div layout="column" layout-align="center center">
                <p class="md-headline">Empty data</p>
                <p class="md-headline">Drop CSV file here or click to upload</p>                
              </div>
            </div>
          </div>
          <!-- END CSV Data -->

          <!-- START Script Content -->
          <div class="tab-pane fade in" id="script-content" style="height: 400px; padding-bottom: 15px;">
            <code>(*) Result output configuration is not effected in runtime</code>
            <br>
            <code>(*) ThreadGroup configuration effects only on information tab</code>
            <div ui-ace="{
                useWrapMode : true,
                showGutter: true,
                showInvisibles: true,
                theme:'eclipse',
                mode: 'xml',
                onLoad: aceLoaded,
                onChange: aceChanged
              }" ng-model="script.raw_content" style="height: 100%;"></div>
          </div>
          <div style="clear: both;"></div>
          <!-- END Script Content -->

        </div><!-- END Tab Content-->

      </div>
    </div>

  </article>
  </div>
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 modal-footer" 
        style="position: fixed; z-index: 901; bottom: 0; background-color: white;">
          <div style="padding-right: 220px;">
            <a class="btn btn-danger" style="float: left" ng-click="delete()">{{getWord('Delete')}}</a>
            <a class="btn btn-primary" ng-click="update()">Update</a>
            <a class="btn btn-default" data-ui-sref="app.performance.scripts({id : projectId})">Close</a>            
          </div>
      </div>
  </div>
</div>