<div id="content">
  <div class="row">
  <article class="col-sm-12 col-md-12 col-lg-12">
    
    <div class="jarviswidget">
    <header class="header-navtabs">
      <ul id="myTab" class="nav nav-tabs pull-right">
        <li class="active">
          <a data-toggle="tab" href="#basic" id="basicId"><span class="hidden-mobile">{{getWord('INFORMATION')}}</span></a>
        </li>
        <li>
          <a data-toggle="tab" href="#csv-data">
            <span class="hidden-mobile">{{getWord('CSV DATA')}}</span>
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#script-content" id="samplersId"><span class="hidden-mobile">{{getWord('SCRIPT CONTENT')}}</span></a>
        </li>
      </ul>
    </header>
    </div>

    <div class="no-padding">
      <div class="widget-body">

        <div id="myTabContent" class="tab-content"><!-- START Tab content -->

          <!-- START Basic Information & Configuration -->
          <div class="tab-pane fade in active" id="basic">
            <div class="basic-info row">
              <div class="col-md-offset-1 col-md-8">
                <div class="form-basic-info">
                  <div class="form-content">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-3">{{getWord('Test Script Name')}}</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" ng-model="script.name" name="text-area-script">
                        </div>
                      </div>
                        
                      <configuration-script></configuration-script>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END Basic Information & Configuration -->

          <!-- START CSV Data -->
          <div class="tab-pane fade in" id="csv-data" style="height: 400px;">

            <section layout="row" flex>
              <md-sidenav class="md-sidenav-left md-whiteframe-z2">
                <md-toolbar md-scroll-shrink>
                  <div class="md-toolbar-tools"></div>
                </md-toolbar>
                <md-content layout-padding>
                  <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                  </md-button>
                  <p hide-md show-gt-md>
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                  </p>
                </md-content>
              </md-sidenav>
              <md-content flex layout-padding>
                <div layout="column" layout-fill layout-align="top center">
                  <p>
                  The left sidenav will 'lock open' on a medium (>=960px wide) device.
                  </p>
                  <p>
                  The right sidenav will focus on a specific child element.
                  </p>
                  <div>
                    <md-button ng-click="toggleLeft()"
                      class="md-primary" hide-gt-md>
                      Toggle left
                    </md-button>
                  </div>
                  <div>
                    <md-button ng-click="toggleRight()"
                      ng-hide="isOpenRight()"
                      class="md-primary">
                      Toggle right
                    </md-button>
                  </div>
                </div>
              </md-content>
            </section>

            <div ng-if="false" layout="row" ng-repeat="progress in progressPercentage">
              <p>{{progress.fileName}}</p>
              <md-progress-linear md-mode="determinate" value="{{progress.percent}}"></md-progress-linear>  
            </div>
            <div ng-if="false" layout="row" layout-align="center center" class="drop-box" 
              ngf-drop ngf-select ng-model="files" ngf-drag-over-class="'dragover'" 
              ngf-multiple="true" ngf-allow-dir="true" accept=".csv,text/csv" ngf-pattern=".csv,text/csv">
              <div layout="column" layout-align="center center">
                <p class="md-headline">Empty data</p>
                <p class="md-headline">Drop CSV file here or click to upload</p>                
              </div>
            </div>
          </div>
          <!-- END CSV Data -->

          <!-- START Script Content -->
          <div class="tab-pane fade in" id="script-content" style="height: 400px; padding-bottom: 15px;">
            <code>(*) Result output configuration is not effected in runtime</code>
            <br>
            <code>(*) ThreadGroup configuration effects only on information tab</code>
            <div ui-ace="{
                useWrapMode : true,
                showGutter: true,
                showInvisibles: true,
                theme:'eclipse',
                mode: 'xml',
                onLoad: aceLoaded,
                onChange: aceChanged
              }" ng-model="script.raw_content" style="height: 100%;"></div>
          </div>
          <div style="clear: both;"></div>
          <!-- END Script Content -->

        </div><!-- END Tab Content-->

      </div>
    </div>

  </article>
  </div>
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 modal-footer" 
        style="position: fixed; z-index: 901; bottom: 0; background-color: white;">
          <div style="padding-right: 220px;">
            <a class="btn btn-danger" style="float: left" ng-click="delete()">{{getWord('Delete')}}</a>
            <a class="btn btn-primary" ng-click="update()">Update</a>
            <a class="btn btn-default" data-ui-sref="app.performance.scripts({id : projectId})">Close</a>            
          </div>
      </div>
  </div>
</div>