<div class="script-list">
    <div class="border-div">
	<div class="row actionMenu">
		<div class="col-sm-3">
      <section class="smart-form">
        <label class="input"> <i class="icon-append fa fa-search"></i>
          <input type="text" ng-model="searchTerms" placeholder="{{getWord('Search')}}" id="Search">
        </label>
      </section>
		</div>
      <span class="col-md-3 count-testcase">
        <label>{{scripts.length}} {{getWord('Test Scripts')}}</label>
      </span>
      <span class="col-md-6 text-right">

        <a class="btn btn-default upload-script" data-toggle="modal" data-target="#uploadScript" ng-click="clickUploadScriptButton()" data-backdrop="static" data-keyboard="false">{{getWord('Upload Script')}}</a>

        <a class="btn btn-primary create-script" data-ui-sref="app.performance.scripts.wizard({id: projectId})">{{getWord('New Test Script')}}</a> 
      </span>
		
		</div>
	</div>
    
  <!-- Dialog -->
  <div class="modal fade" id="uploadScript" role="dialog">
  </div>
  <!-- Dialog -->
        
	<div class="list-testcase">
		<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="script in scripts | search: searchTerms track by $index">
			<div class="tc-itemBlock" ng-click="editScript(script)">
				<div class="row">
          <div class="tc-attributes col-md-12">
            <div class="tc-id">#{{script._id.substring(0,8)}}</div>
          </div>
          <div class="tc-name col-md-12">
            {{script.name}}
          </div>
        </div>
			</div>
		</div>
	</div>
</div>