<div class="modal fade" id="uploadScript" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="header-customize">
				<span class="icon-equalizer upload-icon" aria-hidden="true"></span>
					<h4  class="title-sampler">Upload Script</h4>
			</div>
			<div class="modal-body" style="margin-left: 20px;margin-top: 20px;margin-right: 20px; padding-bottom: 0px;padding-left: 0px;">
				<div class="row">
					<div class="col-sm-12" style="margin-bottom: 10px;">
						<div class="col-sm-4">
							<span >Upload script</span>
						</div>
						<div class="col-sm-8" style="padding-right: 28px;">
							<div class="input-group">
								<input type="text" class="form-control"  name="listFile">
                <span class="input-group-btn">
                    <span class="btn btn-browse btn-file">
                        Browse… <input type="file" multiple="" onchange="angular.element(this).scope().uploadFile(this)">
                    </span>
                </span>
            	</div>
          	</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-4">
							<span >Test Script Name</span>
						</div>
						<div class="col-sm-8">
							<textarea cols="42" rows="4" class="upload_name">
								Test

							</textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-12">
					<div style="margin-right: 50px;">

						<a href="#" class="btn-uploadFile">Save</a>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>