<div class="modal fade" id="uploadScript" role="dialog" ng-controller="UploadScriptCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
     <div class="modal-header">
      <header class="header-navtabs">
        <div class="header-title">
            <span class="fa-cloud-upload fa" aria-hidden="true"></span>
                {{getWord('Upload Script')}}
        </div>
      </header>
    </div>
			<div class="modal-body upload-script-body">
        <div class="basic-infot row">
            <div class="col-md-offset-1 col-md-8">
              <div class="form-basic-info">
                <div class="form-content">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-4">{{getWord('Upload Script')}}</label>
                      <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control"  name="listFile" disabled="">
                            <input type="file" multiple="" onchange="angular.element(this).scope().uploadFile(this)">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
			</div>
			<div class="modal-footer">
				<div class="row save-script-upload">
					<a ng-click="saveUploadedScripts()" class="btn btn-primary" data-dismiss="true">{{getWord('Save')}}</a>
          <a class="btn btn-default"  data-dismiss="modal">{{getWord('Close')}}</a>
				</div>
			</div>
		</div>
	</div>
</div>