<div class="row">
	<div class="col-md-4">	
   	<a class="btn btn-default" ng-click="clickNewSamplerButton()">New Sampler</a>
    <ul class="list-group">
    	<li class="padding-5 list-group-item" ng-repeat="sampler in samplers" style="cursor: pointer" ng-click="select(sampler)">

    		 <a class="text-info" ng-if="sampler.sampler_name != selected.sampler_name">
            <i class="fa fa-circle-o"></i> {{sampler.sampler_name}}
          </a>

          <a class="text-success" ng-if="sampler.sampler_name == selected.sampler_name">
            <i class="fa fa-check"></i><strong><u>{{sampler.sampler_name}}</u></strong>
          </a>
           <a ng-if="sampler.sampler_name == selected.sampler_name" ng-click='deleteSampler(sampler)' 
            class="btn btn-labeled btn-danger pull-right">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
    	</li>
    	
    </ul>
	</div>
	<div class="col-md-8">

		<div class="form-group">
        <label class="control-label col-md-3" style="text-align: left;">Sampler Name :</label>
        <div class="col-md-9">
            <input class="form-control" placeholder="Sampler Name" type="text" ng-model="sampler.sampler_name" required="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3" style="text-align: left;">Method :</label>
        <div class="col-md-9">
            <select class="form-control" ng-model="sampler.sampler_method">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
            </select>
          </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3" style="text-align: left;">Sampler Url : </label>
        <div class="col-md-9">
            <input class="form-control" placeholder="Sampler Url" type="text" ng-model="sampler.sampler_url">
        </div>
        <div class="col-md-9 pull-right">
            <a data-toggle="collapse" class="btn btn-default btn-xs" href="#collapseOne-1">	<i class="fa fa-fw fa-sort-down  txt-color-green"></i>Parameters</a> 
            <div id="collapseOne-1" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="param-block" ng-repeat="param in params track by $index" style="text-align: center;">
							  <a class="remove" href-void  ng-click="removeParamBlock(param)" ng-if="params.length > 1"><i class="fa fa-minus-circle"></i></a>
							  <input class="input-small sampler-param-name" type="text" placeholder="Param Name" required ng-model="param.name">
							  <input class="input-small sampler-param-value" type="text" placeholder="Param Value" required ng-model="param.value">
							  <a class="add" href-void add-param-block><i class="fa fa-plus-circle"></i></a>
							</div>

            </div>
          </div>
        </div>
        
        <!-- <a href-void="" class="btn btn-default btn-xs pull-right" href="#"><i class="fa fa-plus-circle"></i>Paremeters</a> -->
    </div>
    	
     <div class="form-group">
        <label class="control-label col-md-3" style="text-align: left;">Assertion Text : </label>
        <div class="col-md-9">
            <input class="form-control" placeholder="Assertion Text" type="text" ng-model="sampler.assertText">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3" style="text-align: left;">Constant time(s) : </label>
        <div class="col-md-9">
            <select class="form-control" ng-model="sampler.sampler_constantTime">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
          </div>
    </div>
    <div class="form-group" ng-show="!update">
    	<div class="col-md-12">
   			<a class="btn btn-primary pull-right" ng-click='addSampler()'>Create</a>
    	</div>
    </div>
    <div class="form-group" ng-show="update">
    	<div class="col-md-12">
    		<a class="btn btn-primary pull-right" ng-click='updateSampler()'>Edit</a>
    	</div>
    </div>
	</div>
</div>