<div class="row">
  <div class="col-md-9">
    <div class="tree">
      <ul class="smart-treeview-group">
        <li ng-repeat="case in cases">
          <span class="editinline">
          <a ng-click="toggleExpand($event)" class="fa fa-fw fa-folder-open txt-color-darken"></a>
          
          <a href-void data-type="text" 
            smart-xeditable data-ng-model="cases[$index]" 
            data-options="editableOptions" 
            data-index="{{$index}}" 
            data-success-callback="changeCaseName"
            class="editable editable-click">{{case.name}}</a>

          <div style="padding-left: 25px;" class="btn-group dropup" data-dropdown>
            <a href="#" class="dropdown-toggle txt-color-darken" data-dropdown-toggle>
              <i class="fa fa-cog"></i>
            </a>
            <ul class="dropdown-menu no-padding">
              <li class="li-popup">
                  <a ng-click="newCase()" class="txt-color-blueDark"><i class="fa fa-plus"></i> Create new suite</a>
              </li>
              <li class="li-popup divider"></li>
              <li class="li-popup" ng-if="cases.length > 1">
                  <a ng-click="deleteCase($index)" class="txt-color-redLight"><i class="fa fa-minus"></i> Delete this suite</a>
              </li>
            </ul>
          </div>

          </span>

          <!-- action steps -->
          <div class="steps expand">
          <list-steps data-list="case.steps"></list-steps>
          </div>
          <!-- end action steps -->

        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">

    <div class="panel-group smart-accordion-default animated fadeInDown" id="keyword-list">
      
      <div ng-init="query[cat] = ''" class="panel panel-default" ng-repeat="cat in cats">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a ng-click="selectCat(cat)" data-toggle="collapse" data-parent="#keyword-list" href="#{{cat}}" 
              ng-class="{collapsed: !$first}">
              <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
              <i class="fa fa-fw fa-minus-circle txt-color-red"></i>
              {{cat}}
            </a>
          </h4>
        </div>
        <div id="{{cat}}" class="panel-collapse collapse" ng-class="{in: $first}">
          <div class="panel-body">
            
            <ul class="list-unstyled" ng-init="keywords = getKeywordsByCat(cat)"
              style="max-height: 200px; overflow-x: hidden; overflow-y: auto;">
            
              <li>
                <div class="input-group padding-bottom-10">
                  <input ng-model="query[cat]" class="form-control" type="text" placeholder="Filter...">
                </div>
              </li>
            
              <li ng-repeat="keyword in keywords | filter:query[cat]" 
                style="border-bottom: 1px solid #e5e5e5; min-height: 25px;"
                data-drag="true"
                data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                ng-model="keywords"
                jqyoui-draggable="{index: {{$index}}, applyFilter: 'filterIt', placeholder: 'keep'}">

                <a href-void class="txt-color-blue"><strong>{{buildKeywordFullyQualified(keyword)}}</strong></a>
                <br>
                <span ng-if="keyword.type.length > 10 && keyword.params"><strong>params:</strong> {{buildParamsDisplay(keyword.params)}}</span>

              </li>

            </ul>
          </div>
        </div>        
      </div>

    </div>
  </div>
</div>