
<form ng-submit="createDataProvider()" class="smart-form create-data-provider">
  
  <fieldset class="no-padding">
    <div class="row">
      <section class="col col-md-5" style="margin-top: 15px;">
        <label class="input">
          <i class="icon-prepend fa fa-slack"></i>
          <input type="text" name="provider_name" placeholder="Data Provider Name">
        </label>
      </section>

      <div class="col col-md-3" style="margin-top: 20px;">
        <span class="pull-right">In Space: </span>
      </div>
      <div class="col col-md-4 form-group listSpaceNew" style="margin-top: 12px;">
        <select data-smart-select2 style="width:100%" class="select2" ng-model='chooseSpace' ng-change="setSpace(chooseSpace)">
                <option ng-repeat="space in spaces" value={{space._id}}>{{space.name}}</option>
                <option>Public</option>
        </select>
      </div>
    </div>
  </fieldset>

  <footer>
    <button class="btn btn-primary" type="submit">Create</button>
    <button type="button" ng-click="cancelCreateDataProvider()" class="btn btn-danger">Cancel</button>
  </footer>

</form>