<div>
  <div class="data-provider">
    <div class="testcase-tab">
      <div class="border-div">
       <div class="row actionMenu">
          <div class="col-md-3">
            <form class="header-search pull-left ng-pristine ng-valid" search-autocomplete="">
				    <input id="search-fld" type="text" name="param" placeholder="Search Test Case" class="ui-autocomplete-input" autocomplete="off">
				    <button type="submit">
				      <i class="fa fa-search"></i>
				    </button>
			</form>
          </div>
          <div class="col-md-2">
            <label>181 Test Cases</label>
          </div>
          <div class="dropdown col-md-3">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose a Test Case Group <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="">Login</a></li>
              <li><a href="">Logout</a></li>
              <li><a href="">Register</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- list test case -->
     <div class="list-testcase">
        <div  class="col-md-3" ng-repeat="i in [1,2,3,4,5,6,7,8] track by $index">
          <div class="tc-itemBlock"  data-toggle="modal" data-target="#add-datadriven">
            <div class="row">
              <div class="tc-attributes col-md-12">
                <div class="tc-id"># 18</div>
                <div class="tc-groupName">Group Name</div>
              </div>
              <div class="tc-name col-md-12"> This is main content of test case </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="add-datadriven" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog dialog-datadriven">
          <div class="modal-content add-datadriven">
            <div class="modal-header header-data-driven"> <span class="col-md-3"><i class="fa fa-table id-test"></i> Data Driven of Test Case 3</span> <span class="col-md-6 group-btn-datadriven"><a class="btn-add-newdata"><i class=" id-test fa fa-plus"></i>Add new Data</a> <a class="btn-search-data" ng-click="chooseDataDriven()"><i style="margin-right:10px" class="fa fa-search"></i>Select from existing data</a> </span> <span class="filter-datadriven col-md-3">
              <input class="form-control filter-keyword filter-data" type="text" placeholder="Quick Search">
              </span> </div>
            <div class="modal-body modal-body-datadriven">
              <div smart-include="app/fk/views/new-add-datadriven.tpl.html"></div>
            </div>
            <div class="modal-footer modal-footer-datadriven"> <a class="btn btn-default" data-dismiss="modal">Close</a> <a class="btn btn-primary">Save</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
