<div class="row">
  <div class="col-md-7">
    <div class="tree">
      <ul class="smart-treeview-group">
        <li ng-repeat="suite in suites">
          <span class="editinline">
           <a class="fa fa-fw fa-folder-open txt-color-darken"></a>
           <a href-void data-type="text" 
              smart-xeditable data-ng-model="suites[$index]" 
              data-options="editableOptions" 
              data-index="{{$index}}" 
              data-success-callback="changeSuiteName"
              class="editable editable-click">{{suite.name}}
            </a>
            <div class="btn-group dropup" data-dropdown="" style="padding-left: 25px;">
              <a class="dropdown-toggle txt-color-darken" data-dropdown-toggle="" href="#" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cog"></i>
              </a>
              <ul class="dropdown-menu no-padding">
              <li class="li-popup">
                  <a ng-click="newSuite()" class="txt-color-blueDark"><i class="fa fa-plus"></i> Create new suite</a>
              </li>
              <li class="li-popup divider"></li>
              <li class="li-popup" ng-if="suites.length > 1">
                  <a ng-click="delSuite($index)" class="txt-color-redLight"><i class="fa fa-minus"></i> Delete this suite</a>
              </li>
            </ul>
            </div>
          </span>
          <div class="steps expand">
            <list-cases data-list="suite.cases" data-index="$index"></list-steps>
          </div>

        </li>
        
      </ul>
      
    </div>
  </div>

  <div class="col-md-5">

    <div panel-group smart-accordion-default animated fadeInDown>
      <div class="panel-heading">
        <h4 class="panel-title">
          <div>
            <strong>List Test Cases</strong>
          </div>
        </h4>
      </div>
      <div class="panel-body">
      <ul class="list-unstyled">
        <li ng-repeat="case in cases" 
            style="border-bottom: 1px solid #e5e5e5; min-height: 25px;"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
            ng-model="case"
            jqyoui-draggable="{index: {{$index}}, applyFilter: 'filterIt', placeholder: 'keep'}">
            <a href-void class="txt-color-blue"
               data-popover-placement="right"
               data-popover-title="<strong>{{case.name}}</strong>"
               data-smart-html-popover="<p>{{displayToolTip(case.steps)}}</p>" data-html="true">
               <strong>{{case.name}}</strong>
            </a>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>