<table class="table table-bordered">
  <thead>
    <tr>
      <th ng-if="editable">
        <a ng-click="newField()" class="btn btn-primary btn-xs">
          <i class="fa fa-plus"></i> New Field
        </a>
        <a ng-if="rows.length == 0" ng-click="newRow()" class="btn btn-primary btn-xs">
          <i class="fa fa-plus"></i> New Row
        </a>
      </th>
      <th ng-repeat="field in fieldNames track by $index" class="filedName">
        <a ng-if="fieldNames.length > 1 && editable" ng-click="removeField($index)" class="btn btn-danger btn-xs">
          <i class="fa fa-minus"></i>
        </a>
        <a ng-if="editable" href-void data-type="text" editable-text="field" data-ng-model="fieldName" data-options="editableOptions" class="editable editable-click">{{field}}</a>
        <span ng-if="!editable" class="text-info">{{field}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rows track by $index" class="fieldValues">
      <td ng-if="!$last && editable">
        <a ng-click="removeRow($index)" class="btn btn-danger btn-xs">
          <i class="fa fa-minus"></i> This Row
        </a>
      </td>

      <td ng-if="$last && editable">
        <a ng-click="removeRow($index)" class="btn btn-danger btn-xs">
          <i class="fa fa-minus"></i> This Row
        </a>
        <a ng-click="newRow()" class="btn btn-primary btn-xs">
          <i class="fa fa-plus"></i> New Row
        </a>
      </td>

      <td class="cell" ng-repeat="cell in row track by $index">
        <a ng-if="editable" href-void data-type="text" editable-text="cell" data-ng-model="cell" data-options="editableOptions" class="editable editable-click">{{cell}}</a>
        <span ng-if="!editable" class="text-success">{{cell}}</span>
      </td>
    </tr>
  </tbody>
</table>
