<table class="table table-bordered">
  <thead>
    <tr>
      <th ng-if="editable">
        <i class="fa fa-plus-circle text-teal-color" ng-click="newField()"></i>
        <i ng-if="rows.length == 0" ng-click="newRow()" class="fa fa-plus-circle text-teal-color"></i> 
      </th>
      <th ng-repeat="field in fieldNames track by $index" class="filedName">
         <i class="fa fa-minus-circle text-amber-color" ng-if="fieldNames.length > 1 && editable" ng-click="removeField($index)"></i>
        <a ng-if="editable" href-void data-type="text" editable-text="field" data-ng-model="fieldName" data-options="editableOptions" class="editable editable-click">{{field}}</a>
        <span ng-if="!editable" class="text-info">{{field}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rows track by $index" class="fieldValues">
      <td ng-if="!$last && editable">
        <i ng-click="removeRow($index)" class="fa fa-minus-circle text-amber-color"></i>
      </td>

      <td ng-if="$last && editable" class="add-remove-button">
         <i ng-click="removeRow($index)" class="fa fa-minus-circle text-amber-color"></i>
        <i  ng-click="newRow()" class="fa fa-plus-circle text-teal-color"></i> 
      </td>

      <td class="cell" ng-repeat="cell in row track by $index">
        <a ng-if="editable" href-void data-type="text" editable-text="cell" data-ng-model="cell" data-options="editableOptions" class="editable editable-click">{{cell}}</a>
        <span ng-if="!editable" class="text-success">{{cell}}</span>
      </td>
    </tr>
  </tbody>
</table>
