<div class="well no-padding">
            <form ng-submit="submit()" id="login-form" class="smart-form client-form"  data-smart-validate-form ng-controller="LoginCtrl">
                <header>
                  Sign In
                </header>
                <fieldset>
                 <div ng-show="message" class="alert alert-danger">{{message}}</div>
                  <div class="form-group">
                      <label class="label">E-mail</label>
                      <label class="input"> <i class="icon-append fa fa-user"></i>
                          <input class="form-control" type="email" name="email" ng-model="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                 data-smart-validate-input
                                 data-required
                                 data-email
                                 data-message-required="Please enter your email address"
                                 data-message-email="Please enter a VALID email address">
                          <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                              Please enter email address/username</b></label>
                  </div>
                  <div class="form-group">
                    <label class="label">Password</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                     <input class="form-control" type="password" name="password" ng-model="password"
                            data-smart-validate-input
                            data-required
                            data-minlength="3"
                            data-maxnlength="20"
                            data-message="Please enter your email password">
                      <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                          your password</b> </label>

                    <div class="note">
                      <a ui-sref="forgotPassword">Forgot password?</a>
                    </div>
                  </div>
                  <!-- <section>
                    <label class="checkbox">
                      <input type="checkbox" name="remember" checked ng-model="remember">
                      <i></i>Stay signed in
                    </label>
                  </section> -->
                </fieldset>
                <footer>
                  <button type="submit" class="btn btn-primary">
                      Sign in
                  </button>
                </footer>
            </form>
          </div>

         