<header id="header"  class="animated fadeInDown" >

  <div id="logo-group">
    <!-- LOGO -->
    <span id="logo"><img src="styles/img/Citus CLOUD ATS_logo.png" alt="CloudATS Admin"></span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a
         ui-sref="register" class="btn btn-primary">Create account</a> </span>

</header>
<div id="main" role="main"  class="animated fadeInDown" >

  <div id="content" class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
          <h1 class="txt-color-red login-header-big">CloudATS</h1>

          <div class="hero">
            <div class="pull-left login-desc-box-l">
              <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of CloudATS,
                  everywhere you go!</h4>

            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">

          <login-form></login-form>
          
        </div>
    </div>
  </div>
</div>