<header id="header"  class="animated fadeInDown" >

  <div id="logo-group">
    <!-- LOGO -->
    <span id="logo"><img src="styles/img/CITUS_ATS_CL_Ngang.png" alt="CloudATS Admin"></span>
  </div>


  <span id="extr-page-header-space">
  <span class="hidden-mobile hiddex-xs">Already registered?</span> <a ui-sref="login" class="btn btn-primary">Sign In</a> </span>

</header>
<div id="main" role="main"  class="animated fadeInDown" >

  <!-- MAIN CONTENT -->
  <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">CloudATS</h1>
        <div class="hero">

          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of CloudATS, everywhere you go!</h4>
          </div>

        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="well no-padding">

          <form id="smart-form-register" class="smart-form client-form" ng-submit="submit()" ng-controller="RegisterCtrl" form-validate>
            <header>
                Registration Form
            </header>

            <fieldset>

              <section>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                  <input  type="text" name="email" ng-model="email" placeholder="Email address" email-validate>
                  <b class="tooltip tooltip-bottom-right">Needed to verify your account</b> 
                </label>
                <em ng-if="checkEmailPattern" style="color: #D56161;font-size: 11px;">{{notify}}</em>
                <em ng-if="checkEmail" style="color: #D56161; font-size: 11px;">{{message}}</em>
              </section>

              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" ng-model="password" placeholder="Password" id="password" password-validate>
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                <em ng-if="checkPass" style="color: #D56161; font-size: 11px;">{{message_pass}}</em>
              </section>

              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                <input type="password" name="passwordConfirm" ng-model="repass" placeholder="Confirm password">
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
              </section>
            </fieldset>

            <fieldset>
              <div class="row">
                <section class="col col-6">
                  <div ng-show="!checkTenant">
                    <label class="input">
                      <input type="text" name="tenant" ng-model="selectedTenant" placeholder="Tenant" tenant-validate required>
                    </label>
                  </div>
                  <div ng-show="checkTenant">
                                         
                    <div>
                      <label class="select">
                        <select  ng-model="selectedTenant" ng-options="tenant._id for tenant in tenants" tenant-validate>
                          <option value="" selected="">--choose tenant--</option>
                        </select><i></i>
                      </label>
                      <em ng-show="chooseTenant" style="color: #D56161;font-size: 11px;">{{alert}}</em>
                    </div>

                  </div>

                </section>
                <section class="col col-6">
                  <label class="input">
                    <input type="text" disabled="disabled" name="space" ng-model="space" placeholder="Space">
                  </label>
                </section>
              </div>
            </fieldset>

            <fieldset>
              <div class="row">
                <section class="col col-6">
                  <label class="input">
                    <input type="text" name="firstname" ng-model="firstname" placeholder="First name" required>
                  </label>
                </section>
                <section class="col col-6">
                  <label class="input">
                    <input type="text" name="lastname" ng-model="lastname" placeholder="Last name" required>
                  </label>
                </section>
              </div>

            </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">
                  Register
                </button>
              </footer>

              <div class="message">
                <i class="fa fa-check"></i>
                <p>Thank you for your registration!
                </p>
              </div>
            </form>

          </div>
      </div>
    </div>
  </div>

</div>

<div smart-include="app/auth/views/footer.tpl.html"></div>


