<div style= "margin-left: 10px; margin-top: 15px; margin-right: 5px;">
  <div ng-show="list && data.length > 0">
  <div class="row">
    <div class = "col-md-4" style="padding-bottom: 15px;">
      <a class="btn btn-default btn-sm" ng-click="toggleList()"><i class="fa fa-fw fa-reorder"></i></a>
      <a class="btn btn-primary btn-sm" ng-click="list = false;" href="">
        <span class="glyphicon glyphicon-plus"></span> Create New Data Driven
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 list-data-driven">
      <ul class="list-group">
        <li class="padding-5 list-group-item">
          <input type="text" placeholder="Filter" class="form-control" ng-model="query">
        </li>

        <li class="padding-5 list-group-item" style="cursor: pointer" 
          ng-repeat="sel in data | filter:query" ng-click="select(sel)">
          <a class="text-info" ng-if="sel._id != selected._id">
            <i class="fa fa-circle-o"></i> {{sel.name}}
          </a>

          <a class="text-success" ng-if="sel._id == selected._id">
            <i class="fa fa-check"></i><strong><u>{{sel.name}}</u></strong>
          </a>

          <a ng-if="sel._id == selected._id" ng-click='deleteDataSet(sel)' 
            class="btn btn-labeled btn-danger pull-right">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 data-driven-container" ng-if="selected">

      <div class="smart-form padding-bottom-10" ng-if="selected.editable">
        <div class="row">
          <div class="col col-5">
            <label class="input"> <i class="icon-prepend fa fa-slack"></i>
              <input type="text" name="driven-name" placeholder="Data Driven Name" value="{{selected.name}}">
            </label>            
          </div>
        </div>
      </div>

      <provider-table data-dataset="selectedDataSet" data-editable="selected.editable"></provider-table>

      <a class="btn btn-primary pull-right" ng-click="selected.editable = true;" ng-show="!selected.editable">
        <i class="fa fa-fw fa-edit"></i> Edit
      </a>

      <a class="btn btn-primary pull-right" ng-click="saveUpdateDataSet()" ng-show="selected.editable">
        <i class="fa fa-fw fa-save"></i> Save
      </a>

      <a class="btn btn-warning margin-right-5 pull-right" ng-click="cancelUpdateDataSet()" ng-if="selected.editable">
        <i class="fa fa-fw fa-rotate-left"></i> Cancel
      </a>
    </div>
  </div>
  </div>

  <div class="data-provider" ng-if="!list || data.length == 0">
    <div class="row">
      <div class="col-sm-12">
        <new-provider-form></new-provider-form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <provider-table data-dataset="[]" data-editable="true"></provider-table>
      </div>
    </div>
  </div>
</div>

