<div>
  <div class="data-provider">
      <div class="testcase-tab">
        <div class="border-div row col-md-12">
          <form class="header-search pull-left ng-pristine ng-valid" search-autocomplete="" style="top:15px;margin-left:20px;">
            <input id="search-fld" type="text" name="param" placeholder="Find reports and more" class="ui-autocomplete-input" autocomplete="off">
            <button type="submit">
              <i class="fa fa-search"></i>
            </button>
    </form>
      <span class="col-md-2 count-testcase"><label>346 Test Cases</label></span>
          <div class="dropdown testcase-group col-md-3">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose a Test Case Group
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="">Login</a></li>
          <li><a href="">Logout</a></li>
          <li><a href="">Register</a></li>
        </ul>
    </div>
        </div>
        <!-- list test case -->
        <div class="list-testcase col-md-12">
          <div data-toggle="modal" data-target="#add-datadriven" class="col-md-3 test-element-div testcase-in-add-data" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12] ">
            <div class="id-test">
              <span>#181</span>
              <span class="pull-right">Group Name</span>
            </div>
            <div class="content-testcase">
              This is main content of test case
            </div>
          </div>
        </div>
        <div class="modal fade" id="add-datadriven" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog dialog-datadriven">
                        <div class="modal-content add-datadriven">
                                <div class="modal-header header-data-driven">
                                        <span class="col-md-3"><i class="fa fa-table id-test"></i> Data Driven of Test Case 3</span>
                                        <span class="col-md-6 group-btn-datadriven"><a class="btn-add-newdata"><i class=" id-test fa fa-plus"></i>Add new Data</a>
                                        <a class="btn-search-data" ng-click="chooseDataDriven()"><i style="margin-right:10px" class="fa fa-search"></i>Select from existing data</a>
                                        </span>
                                        <span class="filter-datadriven col-md-3"><input class="form-control filter-keyword filter-data" type="text" placeholder="Quick Search"></span>
                                </div>
                                <div class="modal-body modal-body-datadriven">
                                        <div smart-include="app/fk/views/new-add-datadriven.tpl.html"></div>
                                </div>
                                <div class="modal-footer modal-footer-datadriven">
                                        <a class="btn btn-close-datadriven" data-dismiss="modal">Close</a>
                                        <a class="btn btn-save-datadriven">Save</a>
                                </div>
                        </div>
                </div>
        </div>
    </div>
  </div>
</div>