<div class="testcase-tab">
        <div class="border-div">
         <div class="row actionMenu">
       <div class="col-md-3">
        	<form class="header-search pull-left ng-pristine ng-valid" search-autocomplete="">
				    <input id="search-fld" type="text" name="param" placeholder="Search Test Case" class="ui-autocomplete-input" autocomplete="off">
				    <button type="submit">
				      <i class="fa fa-search"></i>
				    </button>
			</form>
            </div>
			<span class="col-md-2 count-testcase" ng-if="listCustomKeywords.length < 2"><label>{{listCustomKeywords.length}} Custom Keyword</label></span>
			<span class="col-md-2 count-testcase" ng-if="listCustomKeywords.length > 1"><label>{{listCustomKeywords.length}} Custom Keywords</label></span>
			<span class="pull-right btn-customkeyword">
				<a class="btn btn-default" ng-click="customKey(customKeyword)">Back to Test Case List</a>
				<a data-toggle="modal" data-target="#customKey" class="btn btn-primary" ng-click="customKeywordStatus();resetCase('Custom Keyword')">New Keyword</a>
			</span>
            </div>
         <!-- list test case -->
        <div class="list-testcase-customkeyword col-md-12">
        	<div cclass="col-md-2 custom-keyword-block " ng-mouseenter="delete=true" ng-mouseleave="delete=false" ng-repeat="custom in listCustomKeywords|orderBy:'custom.create_date'" ng-init="delete=false" ng-click="editCustom(editCustomKeyword,custom);editCustomKeyStatus() ">
        		<div class="id-test">
	        			<span># {{$index+1}}</span>	
	        			<span ng-if="delete" ng-click="removeCustomKeyword(custom.name,$index)" class="pull-right icon"><i class="glyphicon icon-delete glyphicon-remove-circle"></i></span>        			
	        	</div>
                <div class="content-testcase" data-toggle="modal" data-target="#customKey">
                    {{custom.name}} --- {{$index}}
                </div>
        	</div>
        </div>
        
        <!-- Custom keyword Modal -->
        <div class="modal fade" id="customKey" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true">
		    <div class="modal-dialog create-newtestcase">
		        <div class="modal-content">
		            <div class="modal-body new-testcase">
		            	<keywords></keywords>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
        <!-- List testcase modal -->
</div>