<div class="basic-info">
  <div class="col-md-offset-1 col-md-8">
    <div class="form-basic-info">
      <div class="form-title"> <span class="icon-equalizer id-test" aria-hidden="true"></span>
        <h4>Basic Information</h4>
      </div>
      <div class="form-content">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4">Test Case Name :</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="5" id="info-basic" placeholder="cases[0].name" ng-model="cases[0].name"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8"> 
	            <button class="btn btn-danger pull-left" data-dismiss="modal" ng-click="removeCase()" ng-if="!addCase">Delete</button> 
	            <button class="btn btn-primary pull-right" ng-click="setInfo()">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
