<div class="row">
	<div class="col-sm-3 list_testSuite">
		<p>CHOOSE TEST SUITE</p>
		<div>
			<section class="smart-form">
              <label class="input"> <i class="icon-append fa fa-search"></i>
                <input type="text" name="Search" ng-model="Search" placeholder="Search Test Suite" id="Search" minlength="3" class="ng-pristine ng-valid ng-valid-minlength ng-touched"></label>
      	</section>
      </div>
      <div class="row" style="margin-top: 20px;" ng-repeat="i in [1,2,3,4,54,5,6,5,34,23,3,34] track by $index">
      	<div class="col-sm-12" style="padding-right: 8px;">
      		<span class="pull-left">Test Suite Name</span>
      		<div class="smart-form check-list">
                <label class="checkbox pull-right">
                    <input type="checkbox" name="checkbox" style="background-color: white">
                    <i style="background-color: white"></i></label>
          </div>
      	</div>
      </div>
	</div>
	<div class="col-sm-9 run-test">
		<div class="">
			<a href="#" class="Run_Test">Run Test</a>

		</div>
	</div>
</div>