<div>
<div class="row" style="margin-top:20px;">
		<div class="col-sm-12">
			<div class="col-sm-3">
	        <section class="smart-form">
	                <label class="input"> <i class="icon-append fa fa-search"></i>
	                  <input type="text" name="Search" ng-model="Search" placeholder="Search" id="Search" minlength="3"></label>
	        </section>
			</div>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-12">
						<div class="functional-title col-sm-3" ng-click="findFunctionalProject($event)">
							<span data-js-promp;t="&amp;#xe05b;" data-icon="&#xe05b;" aria-hidden="true" class="glyph-item mega functional"></span>
							<strong>Functional Test</strong>
						</div>
						<div class="functional-title col-sm-3">
							<span data-js-prompt="&amp;#xe007;" data-icon="&#xe007;" aria-hidden="true" class="glyph-item mega"></span>
							<strong>Performance Test</strong>
						</div>
						<div class="col-sm-2">
							<div class="widget-toolbar">
                <div class="smart-form">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox" style="background-color:#01B49F" checked="">
                        <i style="background-color: #01B49F"></i>Ready</label>
                </div>
            </div>
						</div>
						<div class="col-sm-2">
							<div class="widget-toolbar hidden-phone">
	                <div class="smart-form">
	                    <label class="checkbox">
	                        <input type="checkbox" name="checkbox" style="background-color:#FE7831" checked="">
	                        <i style="background-color: #FE7831"></i>Running</label>
	                </div>
	            </div>
						</div>
						<!-- <button type="submit" class="btn new-project pull-right" ng-click="new_project();" style="color: white;">New Project</button> -->
						<button type="submit" class="btn new-project pull-right" style="color: white;" data-container="body" data-html="true" data-toggle="modal" data-target="#createProject" ng-click="new_project()">New Project</button>
						<div class="modal fade" id="createProject" role="dialog">
					    <div class="modal-dialog">
					    
					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Create Project</h4>
					        </div>
					        <div class="modal-body">
					          <div class="row">
					          	<div class="col-sm-12">
					          		<div class="col-sm-4">
					          			Project Name
					          		</div>
					          		<div class="col-sm-8">
					          			<div class="form-group">
					          				<input class="form-control" type="text" ng-model="project.projectName">
					          			</div>
					          		</div>
					          	</div>
					          	<div class="col-sm-12">
					          		<div class="col-sm-4">
					          			Project Type
					          		</div>
					          		<div class="col-sm-8">
					          			<div class="row">
					          				<div class="col-sm-12">
					          					<div class="col-sm-6">
					          						<div class="smart-form" style="margin-top: 20px;">
												          <label class="radio state-success">
												            <input type="radio" name="project_type" value="functional" checked="" ng-click="chooseFunctionalType($event)"><i></i>Functional
												          </label>
												        </div>
					          					</div>
					          					<div class="col-sm-6">
					          						<div class="smart-form" style="margin-top: 20px;">
												          <label class="radio state-success">
												            <input type="radio" name="project_type" value="performance" ng-click="choosePerformanceType($event)"><i></i>Performance
												          </label>
												        </div>
					          					</div>
					          				</div>
					          			</div>
					          		</div>
					          	</div>
					          	
					          </div>
					        </div>
					        <div class="modal-footer">
					        	<div class="row">
					        		<div class="col-sm-12">
					        			<div class="col-sm-4">
					        			</div>
					        			<div class="col-sm-8">
					        				<div class="row">
					        					<div class="col-sm-12">
					        						<button type="button" class="btn btn-primary pull-left" ng-click="clickSaveProject();">Save</button>
						        					<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
						        					</div>
					        				</div>
					        				
					        			</div>
					        		</div>
					        	</div>
					        </div>
					      </div>
					      
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 10px;">
		<div class="col-sm-12">
			
			<div class="col-sm-3" style="" ng-repeat="i in [1,2,3,4,6,3] track by $index" 
         data-toggle="popover" data-content="
					<div class='row'>
						<div class='col-sm-12 name-popover'>
							<div class='col-sm-6'>
								<span class='project-name'>#18</span>
							</div>
							<div class='col-sm-6' style='text-align: right;'>
								<span data-js-prompt='&amp;#xe007;' data-icon='&#xe007;' aria-hidden='true' class='glyph-item mega' style=''></span>
								<strong>Performance Test</strong>
							</div>
						</div>
						<div class='col-sm-12 description'>
							<div class='col-sm-12'>
								<small>When I go out, I lock every other one. I figure no matter how long somebody stands there picking the locks, they are always locking three.Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</small>
							</div>
						</div>
						<div class='col-sm-12'>
							<div class='col-sm-6 test-name'>
								<strong class='blur-name'>TEST SUITES</strong>
							</div>
							<div class='col-sm-6'>
								<strong class='blur-name'>LAST RUNNING</strong>
							</div>
						</div>
						<div class='col-sm-12'  style='margin-bottom: 10px;'>
							<div class='col-sm-6'>
								<span class='time'>10</span>
							</div>
							<div class='col-sm-6'>
								<span class='time'>01/05/2015 22:30</span>
							</div>
						</div>
						<div class='col-sm-12 testcases'>
							<div class='col-sm-6'>
								
								<strong class='blur-name'>TEST CASES</strong><br>
								<span class='time'>145</span>
							</div>
							<div class='col-sm-6'>
								<a href='' class='viewLog'>Report</a>
							</div>
						</div>
						<div class='col-sm-12 report run'>
							<div class='col-sm-2'>
								<a class='project-name' ng-click='openProject(project)'>Open</a>
							</div>
							<div class='col-sm-3'>
								<a class='project-name'>View Log</a>
							</div>
							<div class='col-sm-2'>
								<a class='project-name'>Watch</a>
							</div>
							<div class='col-sm-5'>
								<a class='pull-right project-name'>Run</a>
							</div>
						</div>
					</div>
				</div>" data-original-title="" title="" close-popover ng-click="show_popover($event, i);">
			<div class="functional-project-overview">
				<div class="row functional">
					<div class="col-sm-12">
						<div class="col-sm-6"><span class="project-name">#18</span></div>
						<div class="col-sm-6">
							<span data-js-prompt="&amp;#xe007;" data-icon="&#xe007;" aria-hidden="true" class="glyph-item mega pull-right"></span>
						</div>
					</div>
					<div class="col-sm-12 sumary">
						<div class="col-sm-11">
							<small><strong>Performance is Enterprise Database System. This test case is cover the front end area</strong></small>
						</div>
					</div>

					<div class="col-sm-12">
						<div style="border-top: 1px solid #E9E9E9; margin-top:5px; margin-bottom: 5px;">
						</div>
						<div class="col-sm-6">
							<span>READY</span>
						</div>
						<div class="col-sm-6">
								<span class="project-info">INFO</span>
								<a href="#" style="" class="run-project pull-right">RUN</a>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div close-popover class="col-sm-3" style="" ng-repeat="project in functionalPros track by $index" data-toggle="popover" ng-click="show_popover($event, i);" data-content= "
					<div class='row content-pop'>
						<div class='col-sm-12 name-popover'>
							<div class='col-sm-6'>
								<span class='project-name'>{{project.projectId.substring(0,8)}}</span>
							</div>
							<div class='col-sm-6' style='text-align: right;'>
								<span data-js-promp;t='&amp;#xe05b;' data-icon='&#xe05b;'' aria-hidden='true' class='glyph-item mega'></span>
								<strong>Functional Test</strong>
							</div>
						</div>
						<div class='col-sm-12 description'>
							<div class='col-sm-12'>
								<small>When I go out, I lock every other one. I figure no matter how long somebody stands there picking the locks, they are always locking three.Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</small>
							</div>
						</div>
						<div class='col-sm-12'>
							<div class='col-sm-6 test-name'>
								<strong class='blur-name'>TEST SUITES</strong>
							</div>
							<div class='col-sm-6'>
								<strong class='blur-name'>LAST RUNNING</strong>
							</div>
						</div>
						<div class='col-sm-12' style='margin-bottom: 10px;'>
							<div class='col-sm-6'>
								<span class='time'>{{project.suites.length}}</span>
							</div>
							<div class='col-sm-6'>
								<span class='time'>01/05/2015 22:30</span>
							</div>
						</div>
						<div class='col-sm-12 testcases'>
							<div class='col-sm-6'>
								
								<strong class='blur-name'>TEST CASES</strong><br>
								<span class='time'>{{project.totalCases}}</span>
							</div>
							<div class='col-sm-6'>
								<a href='' class='viewLog'>View Log</a>
							</div>
						</div>
						<div class='col-sm-12 report run'>
							<div class='col-sm-2'>
								<a class='project-name' ng-click='openProject(project)'>Open</a>
							</div>
							<div class='col-sm-3'>
								<a class='project-name'>View Log</a>
							</div>
							<div class='col-sm-2'>
								<a class='project-name'>Watch</a>
							</div>
							<div class='col-sm-5'>
								<a class='pull-right project-name'>Run</a>
							</div>
						</div>
					</div>
				</div>">
			<div class="performance-project-overview">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-6"><span class="project-name">{{project.projectId.substring(0,8)}}</span></div>
						<div class="col-sm-6">
							<span data-js-promp;t="&amp;#xe05b;" data-icon="&#xe05b;" aria-hidden="true" class="glyph-item mega pull-right"></span>
						</div>
					</div>
					<div class="col-sm-12 sumary">
						<div class="col-sm-11">
							<small><strong style="word-break: break-all;">{{project.projectName}}</strong></small>
						</div>
					</div>

					<div class="col-sm-12">
						<div style="border-top: 1px solid #E9E9E9; margin-top:5px; margin-bottom: 5px;">
						</div>
						<div class="col-sm-6">
							<span>RUNNING</span>
						</div>
						<div class="col-sm-6">
								<span class="project-info">INFO</span>
								<a href="#" style="" class="stop-project pull-right">STOP</a>
						</div>
					</div>
				</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
