<div class="row">
	<div class="col-sm-3 list_testSuite">
		 <section class="smart-form">
      <label class="input"> <i class="icon-append fa fa-search"></i>
        <input type="text" name="Search" ng-model="Search" placeholder="Search Test Suite" id="Search" minlength="3" class="ng-pristine ng-valid ng-valid-minlength ng-touched">
      </label>
    </section>
      <div class="create-new-suite">
        <a ng-click="clickNewTestSuiteButton($event)" class="btn btn-primary col-sm-12 cleafix"><i class="fa fa-plus-circle">New Test Suite</i></a>
        <div class="form-group input-suite-name">
          <input type="text" class="form-control input-text-name" placeholder="Test Suite Name">
        </div>
      </div>
      <div class="row test-suite" style="" ng-repeat="suite in project.suites track by $index" ng-click="chooseTestSuite(suite, $event)">
      	<div class="col-sm-12 ">
      		<span class="pull-left"><i class="fa fa-circle-o hasnot-case"></i> {{suite.suite_name}}</span>
      		<div class="smart-form check-list" ng-if="suite==testSuiteSelected" ng-click="removeSuite(suite)">
            <span class="glyphicon glyphicon-remove-sign icon pull-right"></span>
          </div>
      	</div>
      </div>
	</div>
	<div class="col-sm-9 action-testcase">
		<div class="row">
      <div class="col-sm-12 ">
        <div class="col-sm-4">
          <section class="smart-form">
              <label class="input"> <i class="icon-append fa fa-search"></i>
                <input type="text" name="Search" ng-model="Search" placeholder="Search Test Case" id="Search" minlength="3" class="ng-pristine ng-valid ng-valid-minlength ng-touched"></label>
        </section>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <select class="form-control">
                  <option selected="">Choose a test case group</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <a class="btn btn-primary savetestcase" ng-click="clickSaveTestSuiteChoosed()">Save</a>
            </div>
            <div class="col-sm-3">
              <a class="btn btn-default cancelbutton" ng-click="cancelActions()">Cancel</a>
            </div>
            <div class="col-sm-3">
              <a class="btn btn-primary edittestsuite" ng-click="editTestSuite(testSuiteSelected)"><span class="glyphicon glyphicon-edit"></span><span> Edit</span></a>
            </div>
            <div class="col-sm-3" style="padding-left: 0px;">
              <a class="btn btn-primary organizetestsuite" ng-click="clickOrganizeTestSuite()"><span class="glyphicon glyphicon-align-justify"></span><span> Organize</span></a>
            </div>
          </div>
        </div>
      </div>
		</div>
    <div class="row" ng-if="!organize">
      <div class="col-sm-12">
        <div class="col-sm-4" ng-repeat="testcase in lists track by $index" style="padding-bottom: 13px;" ng-if="showAllCases">
          <div id="{{testcase._id}}" class="group-test-case-enable" ng-click="addCaseToSuite($event, testcase)" ng-if="disable && !checkExist(testcase,testSuiteSelected.cases)" >
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-6 number" style="padding-left:0px;">
                  <span class="project-name"># {{testcase._id.substring(0,8)}}</span>
                </div>
                
              <div class="col-sm-6"><span class="pull-right group-name">Group name</span></div></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>{{testcase.name}}</p>
              </div>
            </div>
          </div>
          <div id="{{testcase._id}}" class="group-test-case-exit" ng-click="addCaseToSuite($event, testcase)" ng-if="disable && checkExist(testcase, testSuiteSelected.cases)" >
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-6 number" style="padding-left:0px;">
                  <span class="project-name"># {{testcase._id.substring(0,8)}}</span>
                </div>
                
              <div class="col-sm-6"><span class="pull-right group-name">Group name</span></div></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>{{testcase.name}}</p>
              </div>
            </div>
          </div>
          <div class="group-test-case-disable" ng-if="!disable">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-6 number" style="padding-left:0px;">
                  <span class="project-name"># {{testcase._id.substring(0,8)}}</span>
                </div>
                
              <div class="col-sm-6"><span class="pull-right group-name">Group name</span></div></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>{{testcase.name}}</p>
              </div>
            </div>
          </div>
        </div>
         <div class="col-sm-4" ng-repeat="testcase in testSuiteSelected.cases track by $index" style="padding-bottom: 13px;" ng-if="!showAllCases">
          <div id="{{testcase._id}}" class="group-test-case-disable" ng-if="disable" >
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-6 number" style="padding-left:0px;">
                  <span class="project-name"># {{testcase._id.substring(0,8)}}</span>
                </div>
                
              <div class="col-sm-6"><span class="pull-right group-name">Group name</span></div></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>{{testcase.name}}</p>
              </div>
            </div>
          </div>
          <div class="group-test-case-enable" ng-click="addCaseToSuite($event, testcase)" ng-if="!disable">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-6 number" style="padding-left:0px;">
                  <span class="project-name"># {{$index + 1}}</span>
                </div>
                
              <div class="col-sm-6"><span class="pull-right group-name">Group name</span></div></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>{{testcase.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="organize">
      <div class="col-sm-12">
        <div class="col-sm-4" ng-repeat="(fIndex, testcase) in testSuiteSelected.cases " style="padding-bottom: 13px;">
          <div class="group-test-case-organize">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-6 number" style="padding-left:0px;">
                  <span class="project-name"># {{testcase._id.substring(0,8)}}</span>
                </div>
                
              <div class="col-sm-6"><span class="pull-right group-name">Group name</span></div></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>{{testcase.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 choose-order" style="padding-right: 8px;">
                <select  class="form-group selectOrder" ng-model="order" ng-change="chooseOrder(order)" ng-focus="focusCallback($event)">
                  <option ng-repeat="j in testSuiteSelected.cases track by $index" ng-selected="{{fIndex == $index}}"  value="{{$index}}">{{$index}}</option>
                </select>
                 <select class="form-group selectOrder" choose-case-order>
                  <option>
                    {{$index + 1}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>