<div class="tc-keyword-space">
  <div class="col-md-8">
    <div class="customize-tree">
      <div class="tree">

      <div ng-drag-clone="">
        <div class="li-keyword">
          <a href-void class="txt-color-blue">
            <i class="fa fa-bars txt-color-grey"></i>
            <strong class="txt-color-blue">{{clonedData._id !== undefined ? clonedData.name : buildActionDisplay(clonedData)}}</strong>
          </a>
        </div>
      </div>

      <ul class="smart-treeview-group">
        <li>
          <span class="editinline color-keyword">
          <a class="fa fa-fw fa-folder-open txt-color-darken"></a>
          
          <span style="border: none;">{{case.name}}</span>

          </span>
          <!-- action steps -->
          <div class="steps expand">
          <list-steps data-list="case.steps"></list-steps>
          </div>
          <!-- end action steps -->

        </li>
      </ul>
    </div>
    </div>

    <div class="add-keyword">
    <form>
      <a class="btn btn-border-line btn-keyword "
        ng-show="(!case.customMode && !case.customAdded) && case.steps.length > 0 "
        ng-click="case.customMode = true;">Add to Keyword
      </a>

      <div ng-show="case.customMode" class="add-keyword-form">
        <label >Keyword Name </label>
        <div class="editable-input" >
          <input name="customKeywordName" type="text" class="form-control input-sm" placeholder="Custom Keyword Name"
            ng-model="customKeywordName" >
        </div>
        <div class="editable-buttons" >
          <a class="btn btn-primary btn-xs" ng-click="$parent.addCustomKeyword(customKeywordName, case)">
            <i class="fa fa-check"></i>
          </a>
          <a class="btn btn-default btn-xs" ng-click="case.customMode = false;">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>

      <span class="style-status-keyword" ng-show="case.customAdded">
        <i class="fa fa-check"></i><label>Added</label>
      </span>
    </form>
    </div>

  </div>
  
  <div class="col-md-4 keyword-list-container" >

     <div class="panel-group smart-accordion-default keyword-list animated fadeInDown" id="keyword-list" >

      <div class="filter-keyword-div">
        <div class="col-md-4"><i class="fa fa-puzzle-piece"></i>
        <label>Keyword</label></div>
        <div class="col-md-8"><input class="form-control filter-keyword"  type="text" placeholder="Filter"></div>
      </div>

      <!-- Custom keyword -->
      <div class="panel panel-default" ng-if="customs && customs.length > 0">
        
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#customkeyword" data-parent="#keyword-list">
              <i class="fa fa-chevron-circle-right"></i>
              <i class="fa fa-chevron-circle-down"></i>
              <strong>Custom keywords</strong>
            </a>
          </h4>
        </div>

        <div id="customkeyword" class="panel-collapse collapse in">
          <div class="panel-body">
        
            <ul class="list-unstyled">
              <li class="li-keyword" 
                ng-repeat="custom in customs"
                data-drag="true"
                data-jqyoui-options="{revert: 'invalid'}"
                ng-model="custom"
                jqyoui-draggable="{index: {{$index}}, applyFilter: 'filterIt', placeholder: 'keep'}"
                droppable
                ng-drag="true" 
                ng-drag-data="custom"
                >

                <a href-void class="txt-color-blue">
                  <i class="fa fa-bars txt-color-grey"></i>
                  <strong class="txt-color-blue">{{custom.name}}</strong>
                </a>

              </li>
            </ul>

          </div>
        </div>
      </div>
      <!-- End custom keyword -->
      
      <div ng-init="query[cat] = ''" class="panel panel-default" ng-repeat="cat in cats">
        <div class="panel-heading">
          <h4 class="panel-title">
            
            <a data-toggle="collapse" 
              data-parent="#keyword-list" 
              href="#{{cat}}" 
              ng-class="customs || !$first ? 'collapsed' : ''" 
              ng-click="selectCat(cat)">

              <i class="fa fa-chevron-circle-right"></i>
              <i class="fa fa-chevron-circle-down"></i>
              <strong>{{cat}}</strong>
            </a>
          </h4>
        </div>
        <div id="{{cat}}" class="panel-collapse collapse" ng-class="!customs && $first ? 'in' : ''">
          <div class="panel-body">
            
            <ul class="list-unstyled" ng-init="keywords = getKeywordsByCat(cat)">
            
              <!-- <li>
                <div class="input-group padding-bottom-10">
                  <input ng-model="query[cat]" class="form-control" type="text" placeholder="Filter...">
                </div>
              </li> -->
            
              <li ng-repeat="keyword in keywords | filter:query[cat]" 
                data-drag="true"
                class="li-keyword"
                data-jqyoui-options="{revert: 'invalid'}"
                ng-model="keywords"
                jqyoui-draggable="{index: {{$index}}, applyFilter: 'filterIt', placeholder: 'keep'}"
                droppable
                ng-drag="true" 
                ng-drag-data="keyword"
                >

                <a href-void class="txt-color-blue"
                  data-popover-placement="right"
                  data-popover-title="<strong>{{buildActionDisplay(keyword)}}</strong>"
                  data-smart-html-popover="<p>{{buildParamsPopover(cat, keyword)}}</p>" data-html="true"><i class="fa fa-bars txt-color-grey"></i>
                  <strong class="txt-color-blue">{{buildKeywordFullyQualified(keyword)}}</strong>
                </a>
               <!--  <br>
                <span ng-if="keyword.type.length > 10 && keyword.params"><strong>params:</strong> {{buildParamsDisplay(keyword.params)}}</span> -->

              </li>

            </ul>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>