<div class="jarviswidget">
  <header class="header-navtabs">
    <h2>{{title}}</h2>
    <ul id="myTab" class="nav nav-tabs pull-right">
      <li ng-class="title == 'OVERVIEWS' ? 'active' : ''">
        <a href="#overview" data-toggle="tab" ng-click="changeTab('overview')"><span class="hidden-mobile">OVERVIEWS</span></a>
      </li>
      <li ng-class="title == 'TEST CASES' || title == 'CUSTOM KEYWORDS' ? 'active' : ''">
        <a href="#cases" data-toggle="tab" ng-click="changeTab('cases')"><span class="hidden-mobile">TEST CASES</span></a>
      </li>
      <li ng-class="title == 'DATA DRIVEN' ? 'active' : ''">
        <a href="#driven" data-toggle="tab" ng-click="changeTab('driven')"><span class="hidden-mobile">DATA DRIVEN</span></a>
      </li>
      <li ng-class="title == 'TEST SUITES' ? 'active' : ''">
        <a href="#suites" data-toggle="tab" ng-click="changeTab('suites')"><span class="hidden-mobile">TEST SUITES</span></a>
      </li>
      <li ng-class="title == 'EXECUTION' ? 'active' : ''">
        <a href="#execution" data-toggle="tab" ng-click="changeTab('execution')"><span class="hidden-mobile">EXECUTION</span></a>
      </li>
    </ul>
 </header>
</div>