<div class="row">
	<div class="col-sm-6">
		<p class="ds-text-rotate ds-text-project">Number of hits/second
		</p>
		<div class="chart no-padding hit-per-second">
		</div>
	</div>
	<div class="col-sm-6">
		<p class="ds-text-rotate ds-text-project">Number of transactions/second
		</p>
		<div class="chart node-padding tran-per-second"></div>
	</div>

	<div class="col-sm-12 label-container">
		<div ng-repeat="color in colors" class="label-performance">
			<span style="width: 20px;height: 10px;margin: 0 10px;display: inline-block;background-color: {{color.color}};">
			</span>
			<span>{{color.label}}</span>
		</div>
	</div>

	<div class="clearfix t-table ">
		<div class="col-sm-12">
			<table class="col-sm-12">
				<tr class="t-table-header">
					<td class="t-left title subject">Label </td>
					<td class="t-left title subject">#Sampler</td>
					<td class="t-right title subject">Average</td>
					<td class="t-right title subject">Min</td>
					<td class="t-right title subject">Max</td>
					<td class="t-right title subject">Std.Dev</td>
					<td class="t-center title subject">Error %</td>
					<td class="t-center title subject">Throughput</td>
					<td class="t-center title subject">KB/sec</td>
					<td class="t-center title subject">Avg. Bytes</td>
					
				</tr>
				<tr>
					<td class="t-left label-report" ng-click="openReportEachSampler(summaryReport, $index)">{{summaryReport.label}}</td>
					<td class="t-left">{{summaryReport.summary.samples}}</td>
					<td class="t-right">{{summaryReport.summary.average}}</td>
					<td class="t-right">{{summaryReport.summary.min_time}}</td>
					<td class="t-right">{{summaryReport.summary.max_time}}</td>
					<td class="t-right">{{summaryReport.summary.standard_deviation}}</td>
					<td class="t-center">{{summaryReport.summary.error_percent}}</td>
					<td class="t-center">{{summaryReport.summary.throughtput}}</td>
					<td class="t-center">{{summaryReport.summary.kb_per_second}}</td>
					<td class="t-center">{{summaryReport.summary.average_bytes}}</td>
				</tr>
				<tr ng-repeat="report in reports track by $index">
					<td class="t-left label-report" ng-click="openReportEachSampler(report, $index)">{{report.label}}</td>
					<td class="t-left">{{report.summary.samples}}</td>
					<td class="t-right">{{report.summary.average}}</td>
					<td class="t-right">{{report.summary.min_time}}</td>
					<td class="t-right">{{report.summary.max_time}}</td>
					<td class="t-right">{{report.summary.standard_deviation}}</td>
					<td class="t-center">{{report.summary.error_percent}}</td>
					<td class="t-center">{{report.summary.throughtput}}</td>
					<td class="t-center">{{report.summary.kb_per_second}}</td>
					<td class="t-center">{{report.summary.average_bytes}}</td>
				</tr>
			</table>
		</div>
	</div>
	
</div>
