<div class="modal fade" id="createProject" role="dialog" ng-controller="NewProjectCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{getWord('Create Project')}}</h4>
      </div>

      <!-- Start modal body -->
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">{{getWord('Project Name')}}</div>
            <div class="col-sm-8">
              <div class="form-group">
                <input class="form-control" name="name" type="text" ng-model="name">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4">{{getWord('Project Type')}}</div>

          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="smart-form" >
                    <label class="radio state-success">
                      <input type="radio" value="functional" ng-model="type"><i></i>{{getWord('Functional')}}
                    </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="smart-form" >
                  <label class="radio state-success">
                    <input type="radio" value="performance" ng-model="type"><i></i>{{getWord('Performance')}}
                  </label>
                </div>
              </div>
            </div>
            <div class="functional-treeview smart-form" ng-show="type=='functional'">
              <div class="new-project">
                <label class="radio state-success">
                  <input type="radio" value="new" ng-model="functionalType"><i></i>New Project
                </label>
              </div>
              <div class="options-project" ng-if="functionalType == 'new' ">
                <div class="row in-action-logging">
                  <div class="col-sm-6 smart-form">
                    <label class="checkbox">Enable In-Action Logging</label>
                  </div>
                  <div class="col-sm-6 smart-form">
                    <label class="checkbox">
                      <input type="checkbox" name="showAction" id="checkbox" ng-model="showAction.status"><i></i>
                    </label>
                  </div>
                </div>
                <div class="row delay-time">
                  <div class="col-sm-6 smart-form">
                    <label class="checkbox">Delay Time (s)</label>
                  </div>
                  <div class="col-sm-6 smart-form">
                      <input class="input-delay form-control" name="delay" required type="number" min="0" step="1" ng-model="delay.value">
                  </div>
                </div>
              </div>
              <div class="upload-project">
                <label class="radio state-success">
                  <input type="radio" value="upload" ng-model="functionalType"><i></i>Upload Project Code
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End modal body -->

      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8">
            <button type="button" class="btn btn-primary pull-left" ng-click="create();">{{getWord('Save')}}</button>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">{{getWord('Close')}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>