<div class="modal fade" id="createProject" role="dialog" ng-controller="NewProjectCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{getWord('Create Project')}}</h4>
      </div>

      <!-- Start modal body -->
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">{{getWord('Project Name')}}</div>
            <div class="col-sm-8">
              <div class="form-group">
                <input class="form-control" name="name" type="text" ng-model="name">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4">{{getWord('Project Type')}}</div>

          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="smart-form" >
                  <label class="radio state-success">
                    <input type="radio" value="functional" ng-model="type"><i></i>{{getWord('Functional')}}
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="smart-form" >
                  <label class="radio state-success">
                    <input type="radio" value="performance" ng-model="type"><i></i>{{getWord('Performance')}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End modal body -->

      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8">
            <button type="button" class="btn btn-primary pull-left" ng-click="create();">{{getWord('Save')}}</button>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">{{getWord('Close')}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>