<div class="modal fade" id="createProject" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Project</h4>
      </div>

      <!-- Start modal body -->
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">Project Name</div>
            <div class="col-sm-8">
              <div class="form-group">
                <input class="form-control" type="text" ng-model="project.projectName">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4">Project Type</div>

          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="smart-form" style="margin-top: 20px;">
                  <label class="radio state-success">
                    <input type="radio" name="project_type" value="functional" checked="" ng-click="chooseFunctionalType($event)"><i></i>Functional
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="smart-form" style="margin-top: 20px;">
                  <label class="radio state-success">
                    <input type="radio" name="project_type" value="performance" ng-click="choosePerformanceType($event)"><i></i>Performance
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End modal body -->

    </div>
  </div>
</div>