<div id="content">

    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12">
          
        <div class="jarviswidget jarviswidget-sortable" >
          <header class="header-navtabs">
            <h2>{{getWord('Project Overview')}}</h2>
          </header>
        </div>

        <div class="tab-content">
          <div class="row actionMenu">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-3">
                  <section class="smart-form">
                    <label class="input"> <i class="icon-append fa fa-search"></i>
                      <input type="text" name="Search" ng-model="searchTerms" placeholder="{{getWord('Search')}}" id="Search" minlength="3">
                    </label>
                  </section>
                </div>

                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-6">
                      <div class="row">
                        <div class="check-icon-group col-md-6" >
                          <span data-js-promp;t="&amp;#xe05b;" data-icon="&#xe05b;" aria-hidden="true" class="check-icon active" ng-click="toggleKeyword($event)"></span> 
                          {{getWord('Functional Test')}}
                        </div>
                        <div class="check-icon-group col-md-6">
                          <span data-js-prompt="&amp;#xe007;" data-icon="&#xe007;" aria-hidden="true" 
                          class="check-icon active" ng-click="togglePerformance($event)"></span> 
                          {{getWord('Performance Test')}}
                        </div>
                      </div>
                    </div>
                        
                    <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="row">
                        <div class="col-md-6 smart-form">
                          <label class="checkbox teal-color">
                            <input ng-click="toggleReady()" type="checkbox" name="checkbox" checked=""><i></i>{{getWord('Ready')}}
                          </label>
                        </div> 
                        <div class="col-md-6 smart-form">
                          <label class="checkbox amber-color">
                            <input ng-click="toggleRunning()" type="checkbox" name="checkbox" checked=""><i></i>{{getWord('Running')}}
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                      <button type="submit" class="btn btn-primary pull-right" data-container="body" data-html="true" data-toggle="modal" data-target="#createProject">{{getWord('New Project')}}</button>
                    </div>

                    <div data-smart-include="app/projects/views/new-project-modal.tpl.html"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </article>

    </div>

    <!-- projects list body -->
      
    <div data-smart-include="app/projects/views/project-list-body.tpl.html"></div>

    <!-- end projects list body -->

</div>