<div id="content">

    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12">
          
          <div class="jarviswidget jarviswidget-sortable" >
            <header class="header-navtabs">
              <h2>Project Overview</h2>
            </header>
          </div>

          <div class="tab-content">
            <div class="row actionMenu">
              <div class="col-sm-12">
                <div class="col-sm-3">
                  <section class="smart-form">
                    <label class="input"> <i class="icon-append fa fa-search"></i>
                      <input type="text" name="Search" ng-model="Search" placeholder="Search" id="Search" minlength="3">
                    </label>
                  </section>
                </div>

                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="functional-title col-sm-3">
                        <span data-icon="&#xe05b;" class="glyph-item mega functional"></span>
                        <strong>Functional Test</strong>
                      </div>

                      <div class="functional-title col-sm-3">
                        <span data-icon="&#xe007;" class="glyph-item mega"></span>
                        <strong>Performance Test</strong>
                      </div>

                      <div class="col-sm-2">
                        <div class="widget-toolbar">
                          <div class="smart-form">
                            <label class="checkbox">
                            <input type="checkbox" name="checkbox" style="background-color:#01B49F" checked=""><i style="background-color: #01B49F"></i>Ready
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-2">
                        <div class="widget-toolbar hidden-phone">
                          <div class="smart-form">
                            <label class="checkbox">
                              <input type="checkbox" name="checkbox" style="background-color:#FE7831" checked=""><i style="background-color: #FE7831"></i>Running
                            </label>
                          </div>
                        </div>
                      </div>

                      <button type="submit" class="btn btn-primary pull-right" style="color: white;" data-container="body" data-html="true" data-toggle="modal" data-target="#createProject">New Project</button>

                      <div data-smart-include="app/projects/views/new-project-modal.tpl.html"></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </article>

    </div>

    <!-- projects list body -->
      
    <div data-smart-include="app/projects/views/project-list-body.tpl.html"></div>

    <!-- end projects list body -->

</div>