<div class='row content-pop'>
  <div class='col-sm-12 name-popover'>
    <div class='col-sm-6'>
      <span class='project-name'>#{{projectId.substring(0,8)}}</span>
    </div>
    <div class='col-sm-6' style='text-align: right;'>
      <span ng-if="projectType == 'keyword'" data-icon="&#xe05b;" aria-hidden="true" class="glyph-item mega"></span>
      <span ng-if="projectType == 'performance'" data-icon="&#xe007;" aria-hidden="true" class="glyph-item mega"></span>
      <strong style="text-transform: capitalize;">{{projectType}} Test</strong>
    </div>
  </div>
  <div class='col-sm-12 description'>
    <div class='col-sm-12'>
      <small>{{projectName}}</small>
    </div>
  </div>
  <div class='col-sm-12'>
    <div class='col-sm-6 test-name'>
      <strong class='blur-name'>TEST SUITES</strong>
    </div>
    <div class='col-sm-6'>
      <strong class='blur-name'>LAST RUNNING</strong>
    </div>
  </div>
  <div class='col-sm-12' style='margin-bottom: 10px;'>
    <div class='col-sm-6'>
      <span class='time'>{{suites}}</span>
    </div>
    <div class='col-sm-6'>
      <span class='time'>01/05/2015 22:30</span>
    </div>
  </div>
  <div class='col-sm-12 testcases'>
    <div class='col-sm-6'>
      
      <strong class='blur-name'>TEST CASES</strong><br>
      <span class='time'>{{cases}}</span>
    </div>
    <div class='col-sm-6'>
      <a href='' class='viewLog'>Reports</a>
    </div>
  </div>
  <div class='col-sm-12 report run'>
    <div class='col-sm-2'>
      <a class='project-name' ng-click='openProject(project)'>Open</a>
    </div>
    <div class='col-sm-3'>
      <a class='project-name'>View Log</a>
    </div>
    <div class='col-sm-2'>
      <a class='project-name'>Watch</a>
    </div>
    <div class='col-sm-5'>
      <a class='pull-right project-name'>Run</a>
    </div>
  </div>
</div>