<div class="project-detail-tab">
  <div class="border-div">

    <div class="actionMenu row btn-action-list">
      <span class="col-sm-6 pull-right"> <a class="btn btn-primary">Edit</a>
    </div>

    <div class="row project-detail-header">
      <div class="col-sm-12">
        <span class="id-test">{{project.projectId.substring(0,8)}}<span data-icon="&#xe05b;" aria-hidden="true" class="glyph-item mega"></span></span>
        <span style="padding-right:10px">Functional Test</span> 
        <span class="buttonStatus" disabled="disabled">READY</span>
      </div>
    </div>

  </div>
</div>