<aside id="left-panel">

  <!-- Current User Info -->
  <div login-info></div>
  <!-- End -->

  <nav>

    <ul data-smart-menu>
      
      <li data-ui-sref-active="active">
        <a data-ui-sref="app.dashboard" title="{{getWord('Dashboard')}}"><i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">{{getWord('Dashboard')}}</span>
        </a>
      </li>

      <li data-smart-projects-active>
        <a data-ui-sref="app.projects" title="{{getWord('Projects')}}"><i class="fa fa-lg fa-fw fa-bolt"></i>
          <span class="menu-item-parent">{{getWord('Projects')}}</span>
        </a>
      </li>

      <li data-smart-datadriven-active>
        <a data-ui-sref="app.datadriven" title="{{getWord('Data Driven')}}"><i class="fa fa-lg fa-fw fa-database"></i>
          <span class="menu-item-parent">{{getWord('Data Driven')}}</span>
        </a>
      </li>
    </ul>   
     
  </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>
